[2018-08-01 18:15] ianvernon opened #521 "gracefully handle case where Cilium pods are not running"
If Cilium pods are not running, the cluster-diagnosis tool hangs. Detect whether Cilium pods are not running accordingly.

[2019-09-26 16:21] ianvernon opened #520 "Collect Kubernetes Endpoints output in sysdump"
these are the backends for services, which we gather. it is useful to know what the state is in K8s of backing Endpoints for a Service to make sure that the Cilium datapath is correctly realizing the state of Endpoints in Kubernetes.

[2020-04-13 03:57] ungureanuvladvictor opened #519 "Collect gops stats when cilium is not pid 1 inside the container"
In our prod env we wrap the cilium agent when we start it to process some logs for it thus it does not have pid 1 anymore. From https://github.com/cilium/cilium-sysdump/blob/master/cilium-sysdump/sysdumpcollector.py#L211 looks like cilium-sysdump assumes that cilium is running as pid 1.

[2021-01-11 17:18] errordeveloper opened #11 "Add operator-based GKE in CI"

[2021-01-22 13:56] rolinh opened #43 "install: CLI hangs although the cluster appears to be installed fine"
I created a 4 nodes  kind cluster then used the following command;
[code]

It looks like the cilium installation went fine:
[code]

[2021-01-22 18:02] #43 closed, assigned to nobody

[2021-01-25 11:08] tgraf opened #50 "Add encryption validation in connectivity test"
Blocked:
- Requires release of fix https://github.com/cilium/cilium/pull/14677

Tasks
- [ ] Detect if encryption is enabled (endpoints / nodes)
- [ ] Validate that non-local traffic is encrypted properly by checking the `Encrypted` field in the Hubble flow logs

[2021-01-25 11:58] tgraf opened #51 "Re-enable AKS CI"
- [ ] The service principal created and shared is not working properly. After a couple of initial successful CI runs, the service principal seems to lose access to the required resources

[2021-01-25 11:59] tgraf opened #52 "Fail connectivity test in flow validation mode if monitor aggregation is not set none"

[2021-01-26 09:15] tgraf opened #57 "Re-enable EKS ENI CI"
- [ ] Re-enable once NodePort is fixed or remove the individual test for EKS

[2021-01-27 10:51] twpayne opened #60 "Feature request: add hubble-ui support?"
cilium-cli current supports enabling Hubble with `cilium hubble enable`. This deploys hubble-relay but not hubble-ui. What do you think about adding `cilium hubble-ui enable` (or `cilium hubble enable --ui`)?

[2021-01-28 23:39] joestringer opened #66 "cilium connectivity test may take a long time to fail out if it can't deploy pods"
If you have a situation where pods cannot be deployed, `cilium connectivity test` appears to hang:

[code]

Eventually it does time out:
[code]

The above would be due to the long timeout here:

https://github.com/cilium/cilium-cli/blob/e9bc3cfdbbc40855a4bf0b2bab61123808c6bbf9/connectivity/check.go#L665

In the mean time, I can see that there are reasons why the pods are not being deployed:

[code

[2021-01-28 23:50] joestringer opened #67 "Cilium connectivity test leaves state behind in the cluster on unclean exit"
Currently, if Cilium connectivity test fails due to a timeout (eg, similar to #66), or you press Ctrl+C to terminate the commandline, it will leave pods deployed in the `cilium-test` namespace.

Cilium connectivity test should clean up resources when it is done.

[2021-01-29 00:04] joestringer commented on #67
Simplest answer here is probably just firing off a best-effort request to the apiserver to delete the `cilium-test` namespace upon exit (including when triggered via a signal).

[2021-01-29 05:59] k8s-dev opened #68 "clustermesh default cilium version is 1.9.2"
We had cilium image related regression in Cilium v1.9.2 and due to which v1.9.3 was created, but cilium-cli is stuck with v1.9.2

[code]

[2021-01-29 06:00] k8s-dev commented on #68
Please suggest how do I pass v1.9.3 from command line while install?

[2021-01-29 06:34] k8s-dev commented on #68
Passing version=1.9.3 does not help.

[code]

[2021-01-29 14:16] kaworu commented on #68
Hi @k8s-dev, thanks for opening the issue! I've made a PR to update to Cilium v1.9.3 that should fix your problem.

[2021-01-29 16:12] #68 closed

[2021-02-01 18:25] aditighag opened #73 "Review/extend NodePort connectivity checks"
This is a follow-up issue to https://github.com/cilium/cilium/issues/14728. I wasn't able to reproduce the original issue based on the specified steps or enabling kube-proxy replacement. I'm creating this issue to review the current connectivity checks, and potentially see if it can be extended to catch the nodeport connectivity issue reported by a community user, where requests to node's external

[2021-02-19 09:28] tgraf opened #88 "Connectivity test to world can end in RST/RST"
[code]

[2021-02-19 10:35] #57 closed

[2021-02-19 15:09] tgraf opened #93 "Re-enable multicluster CI"

[2021-02-24 14:22] tklauser opened #97 "ServiceAccount hubble-relay left in-place after `cilium uninstall`"
Steps to reproduce:

[code]

After not using the cluster for a while, I attempted to re-install `cilium` using `helm`:

[code]

This lead to the following error:

[code]

The `ServiceAccount` is indeed still there:

[code]

Naturally, I would have expected that `ServiceAccount` to be uninstalled as well by `cilium uninstall`. Note that I can still get rid of it using `cilium hubble disable` before

[2021-02-25 11:04] kaworu commented on #97
This is missing `--set hubble.relay.enabled=true` right?

[2021-02-26 09:58] aanm opened #100 "CLI not compatible with cilium status 1.10"
[code]

[2021-03-01 14:38] tgraf commented on #100
Will be fixed by https://github.com/cilium/cilium/pull/15143

[2021-03-01 14:41] #97 closed

[2021-03-01 14:47] tgraf opened #102 "Flow logs are sometimes now showing up"
Example:
The connection was successful and the logs are present for one fo the pods but not the other even though this is the same-node test so all flow logs are coming from the same agent

[code]

[2021-03-01 15:29] #88 closed

[2021-03-01 15:44] tgraf opened #104 "ClusterMesh status does not print good errors when it times out"
Example:
[code]

[2021-03-02 17:36] tgraf opened #109 "Re-enable AKS"
AKS is failing:
[code]

[2021-03-03 10:02] #100 closed

[2021-03-04 20:21] tgraf commented on #109
Fixed

[2021-03-04 20:21] #109 closed

[2021-03-04 20:21] tgraf commented on #104
Fixed

[2021-03-04 20:21] #104 closed

[2021-03-04 21:47] tgraf commented on #102
Fixed by https://github.com/cilium/cilium-cli/pull/113

[2021-03-04 21:47] #102 closed

[2021-03-04 21:48] tgraf commented on #51
Fixed

[2021-03-04 21:48] #51 closed

[2021-03-05 11:01] errordeveloper opened #115 "[RFC] declarative Kubernetes API usage pattern"
The nature of some of the functionality that `cilium` program implements, is often very procedural, however that shouldn't imply that all of the logic around API interactions is also procedural.

Presently, `cilium install` and `cilium connectivity check` follow a procedural pattern where a set of objects is generated and written to the API directly.

https://github.com/cilium/cilium-cli/blob/dff4

[2021-03-10 19:10] joestringer commented on #67
Related, I ran the `cilium connectivity test` in a GKE cluster and it successfully completed, then it left behind `cilium-test` pods and namespace. When I tried to delete it, kubectl hung for 20 minutes or more. Anyone seen this before?
[code]

[2021-03-10 19:15] joestringer opened #118 "How should we update the cilium-agent version used by the CLI?"
Users are likely to pull the cilium-cli binary once and not update it particularly frequently.

Currently, we are embedding the "latest" version of the main Cilium components into the binary directly:

https://github.com/cilium/cilium-cli/blob/3e55a2a9c006312e63df41c4eb41baeb63a86ccc/defaults/defaults.go#L79

This means that the version will get out-of-date very easily, and even if we create a new

[2021-03-11 11:16] errordeveloper opened #119 "connectivity: improve handling existing cilium-test namespace"
The original reason for opening #115 was that I noticed an issue with `cilium connectivity check`.

When `cilium-test` namespace exists, `srcDeploymentNeeded` remains `false` and the `deploy` function returns without doing anything else.

https://github.com/cilium/cilium-cli/blob/dff492aeee540d72c27ebc819d3ad522382e6b60/connectivity/check.go#L827-L969

Getting #115 done maybe be a little more invo

[2021-03-12 10:51] tgraf commented on #119
@errordeveloper So you need the ability for the namespace to exist but not the deployments inside?

[2021-03-12 10:53] errordeveloper commented on #119
@tgraf exactly :)

[2021-03-12 10:59] errordeveloper commented on #119
The use-case I have right is for OpenShift, where use of `hostNetwork: true` is gated by `SecurityContextConstraints`.
So one alternatively would be to add platform-specific initialisation logic in the connectivity check, which I thought was said to be undesirable. I could take a look and see if a PSP can be used instead of `SecurityContextConstraints`, in my understanding the API serve the same p

[2021-03-12 11:25] errordeveloper commented on #119
It sounds like PSP wouldn't be an option for OpenShift.

[2021-03-16 11:14] errordeveloper opened #124 "use test image with a full version of ping, not a busybox one"
Busybox version of ping is very minimal, and it actually breaks on OpenShift due to the lack of SELinux support and because it's the binary is suid-free.

[2021-03-16 13:25] #124 closed

[2021-03-18 09:39] tgraf commented on #118
I was considering pulling it automatically from GitHub or an API. Thoughts?

[2021-03-18 09:45] rolinh commented on #118
I think pulling from Github makes sense. For the Hubble CLI, we have a [`stable.txt` file at the root](https://github.com/cilium/hubble/blob/master/stable.txt) that contains the version of the latest stable Hubble CLI release. It's used in the doc so that we always instruct to download the latest CLI version without having to bump it in the docs.

[2021-03-18 11:55] tgraf commented on #67
I think it is hanging because of a finalizer not working correctly. It probably happens for all namespaces.

[2021-03-18 11:55] tgraf commented on #67
Delete is not being done on purpose right now to allow re-running tests quickly. We can make that conditional on a flag though.

[2021-03-18 20:07] jrfastab opened #130 "cilium-cli: sporadic hangs on GKE rapid channel with k8s1.20, reg-channel is stable"
Running cilium-cli install, connectivity test on GKE rapid channel with k8s1.20 appears to hang sometimes either in install step or at start of connectivity test.

[code]
[code]
Above it got stuck waiting for echo-other-node pod. I've not seen this using regular channel and k8s1.19.

[2021-03-19 13:47] lizrice opened #131 "Show version of cilium (as well as of cilium-cli)"
`cilium version` reports the version of the CLI agent. It would be useful if it also showed the running version of cilium (there's already a [TODO comment](https://github.com/cilium/cilium-cli/blob/f05d883cedea527377fac6a23a6849ba39b2a8ea/internal/cli/cmd/version.go#L47) to this effect)

[2021-03-19 14:07] rolinh commented on #131
See also related discussion on PR #121.

[2021-03-22 06:23] eyanulis opened #133 "Pod-to-host ICMP tests fail if NET_RAW capability is not provided by runtime"
On a 1.20.4 cluster deployed with CRI-O 1.20.0 and "v6-first" dual-stack, I observe the following failures in the pod-to-host tests (IPs have been altered):

[code]

Exec'ing into the pod shows the failure is caused by insufficient permissions:

[code]

This appears to stem from the pod lacking the `NET_RAW` capability. In my specific case, this happens because CRI-O above 1.18.0 no longer gives `

[2021-03-29 17:33] nebril opened #142 "status: Cilium status is green when Cilium is not able to manage pods"
I am not sure if this is in scope of `cilium status`, but it is possible for Cilium to not be able to manage pods at all and report `cilium status` as green.

This issue came up when testing latest images on AKS. Details are in this issue: https://github.com/cilium/cilium/issues/15496

Maybe `cilium status` should look at some k8s metrics that may indicate that cluster is not healthy WRT to managi

[2021-03-29 20:50] cmluciano opened #143 "install: invalid cluster-id should be blocked at creation time"
I was following the instructions for [setting up clustermesh](https://docs.cilium.io/en/latest/gettingstarted/clustermesh/clustermesh/#specify-the-cluster-name-and-id)  on GKE and didn't notice that line that mentioned cluster-id should be between 0..255

Command I ran  `cilium install --cluster-name cml-cluster-a --cluster-id 14480` . This caused my cilium install to hang until it timeout out. It

[2021-03-31 15:14] cmluciano opened #149 "install: revert changes if install fails"
**Problem**
While testing the clustermesh setup I had some misconfigured flags that caused the install to exit. When I corrected the flags, the install immediately failed because cilium-resource-quota already existed.

**Expected outcome**
If cilium install fails early on for an initial installation, resources should be cleaned up.

**Versions**
cilium-cli: v0.5-dev@master-15910bd compiled with go

[2021-03-31 21:19] christarazi opened #150 "Uninstall command fails when there's no Hubble Relay installed"
When I install without Hubble Relay enabled, then I later uninstall, I get the
following error:

[code]

[2021-03-31 21:42] christarazi commented on #150
Fixed by https://github.com/cilium/cilium-cli/pull/148

[2021-03-31 21:42] #150 closed

[2021-04-08 17:52] jrfastab opened #156 "cilium-cli: the following sequences hangs, install, test, uninstall, install, test"
Testing install/uninstall/install patterns I ran into a hang when doing the following,

[code]
omitted output from commands that worked only the last connectivity test hangs on waiting to become ready.  Looking at pods,
[code]
This is GKE environment created with,
[code]
The hang is repeatable and happens every time for me. The rationale to delete the pods in the middle there was to ensure new pod

[2021-04-08 18:08] jrfastab commented on #156
Even simpler to get to the hang
[code]
So doesn't need uninstall/reinstall.

[2021-04-13 11:39] nbusseneau commented on #156
Related to #67.

[2021-04-14 08:15] tgraf opened #164 "Add --wait support for cilium hubble enable"
Similar to `cilium install`, `cilium hubble enable` should block until hubble is enabled successfully. The same `Status()` command can be called as is done for `install.`

[2021-04-14 08:16] tgraf opened #165 "hubble: Only patch ConfigMap and restart if required"
When enabling Hubble, only patch the ConfigMap and restart the Cilium pods when actually required.

[2021-04-14 08:28] tklauser commented on #165
As a small hint, in case anyone wants to take this: the logic in `(*hubble.K8sHubble).disableHubble` here: https://github.com/cilium/cilium-cli/blob/7416ed66c8d019cc22c1913d9fb2ecabb9dd9f1f/hubble/hubble.go#L150-L170 could probably be reused to achieve this.

[2021-04-15 23:49] jrajahalme commented on #156
`cilium connectivity test --force-deploy` on the 2nd round may help.

[2021-04-15 23:55] jrajahalme opened #166 "clustermesh: `cilium clustermesh status` fails if clusters are not connected yet"
`cilium clustermesh status` fails if clusters are not connected yet.

This is a regression due to #123, especially by commit https://github.com/cilium/cilium-cli/pull/123/commits/077d821c709a6f5959b376c665553fa9833df47c

[2021-04-16 13:20] tklauser opened #167 "connectivity test times out in kind cluster with 1 worker and 1 control-plane node"
Running `cilium connectivity test` on a kind cluster with one control-plane and one worker node leads to a time out:

[code]
[code]
[code]
[code]

There is a check for the single node case here:

https://github.com/cilium/cilium-cli/blob/7416ed66c8d019cc22c1913d9fb2ecabb9dd9f1f/connectivity/check/check.go#L795-L805

But it seems in the above kind cluster that check wasn't hit.

[2021-04-16 13:23] tklauser commented on #167
The `echo-other-node` pod is still in `Pending` state:

[code]

Seems like scheduling failed due to not matchine pod affinity/anti-affinity:

[code]

[2021-04-17 06:16] neel229 commented on #164
I think I can do that.

[2021-04-17 12:52] pchaigno commented on #164
@neel229 I assigned you. Don't hesitate to reach out on Slack (e.g., #development) if you have any question.

[2021-04-17 13:07] neel229 commented on #164
actually I made a pr, can someone check it out

[2021-04-19 11:40] #167 closed

[2021-04-19 13:31] ti-mo opened #174 "Expect specific command exit codes in connectivity tests"
Some connectivity tests (e.g. https://github.com/cilium/cilium-cli/pull/158) make `curl` fail with (expected) DNS resolution errors.

[code]

We should be able to narrow down the exit codes of the underlying test programs to ensure we don't get any false negatives with regards to test outcomes. For example, it's not acceptable for a test to fail on DNS resolution when a TCP connection failure was

[2021-04-20 13:58] cmluciano commented on #166
+1 I would expect this to warn that it's not connected but not provide information about `cilium install` since I already have them set.

[2021-04-20 19:03] jrajahalme commented on #174
Good point, should work well with curl that has well defined exit codes. `ping` seems to differentiate between these cases as well:
[code]
Not sure how universal the `ping` return codes are, however.

[2021-04-20 19:05] jrajahalme commented on #174
Maybe we should keep the test fail expectations on the current, more abstract level, and translate them to command specific exit code expectations under the hood?

[2021-04-20 19:21] joestringer opened #179 "Cilium CLI should always print "datapath mode" when installing, not only when autodetecting"
Example output from a user:

[code]

It's not clear what datapath mode was used in this case (closer inspection showed direct routing). It would be good to always print this information when installing so that if there is a problem to debug, we can have an understanding of how the datapath is operating based on the install.

[2021-04-20 19:56] #166 closed

[2021-04-23 05:25] christarazi opened #186 "Local NodePort connectivity test has faulty selection dst pod logic"
I am observing a scenario where the local nodeport test selects the wrong dst pod to test connectivity against.

Src pod:  `client2`
Src node:  `10.0.194.76`

[code]

The CLI should select the dst pod as `echo-other-node` as it's on the same node as the src pod.

However, the CLI selects `31646` as the dst port (because it's a nodeport test) which means the dst pod is incorrectly selected as `echo

[2021-04-23 20:06] joestringer opened #187 "Cilium CLI should validate the --version argument"
If you pass `--version 1.9.6` into the Cilium CLI, it will pass this directly into the image tag and fail to deploy Cilium (ImagePullBackoff) because the real version number for the image is `v1.9.6`. The CLI should validate the arg and either transparently add the `v` if not specified, or reject the user argument if it is specified in the wrong format.

[2021-04-23 21:48] joestringer opened #188 "Cilium CLI should respect KUBECONFIG environment variable"
Context, my usual kubeconfig is configured to use microk8s. When I deploy an EKS cluster using EKSCTL, it overrides `$KUBECONFIG` to point to the EKS cluster. However, the CLI doesn't pick up on this so I get the following error:

[code]

EDIT: Actually, `cilium install` used the correct kubeconfig, so maybe this problem is specific to `cilium connectivity check`?

[2021-04-23 23:42] joestringer commented on #188
This problem was actually caused by a mixup between the node-local `cilium` CLI as provided by microk8s vs. the clusterwide CLI. Not a real bug.

[2021-04-23 23:42] #188 closed

[2021-04-26 21:51] aditighag opened #189 "Deployment with Cilium v1.8.6 fails on GKE"
I’m unable to successfully deploy Cilium on a GKE cluster at the moment. The cilium pods come up fine, but none of the managed pods do.

  `Warning  FailedCreatePodSandBox  22s (x4 over 26s)   kubelet            (combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container “f6ca5819eee5af8a48fd5f505182dd31a90e20737a60c16ca139a9ae4

[2021-04-27 14:26] bmcustodio opened #190 "'cilium clustermesh enable' doesn't take Cilium version into account"
[code]

currently results in `quay.io/cilium/clustermesh-apiserver:v1.9.x` being used. I guess this is a result of

https://github.com/cilium/cilium-cli/blob/c4c1dbdeea9e836993209afa6ede8079555c3cd1/clustermesh/clustermesh.go#L171
https://github.com/cilium/cilium-cli/blob/c4c1dbdeea9e836993209afa6ede8079555c3cd1/defaults/defaults.go#L71
https://github.com/cilium/cilium-cli/blob/c4c1dbdeea9e8369932

[2021-04-28 17:49] aditighag opened #191 "References to latest tag for Hubble-ui images"
@lizrice reported that she deployed Hubble using `cilium hubble enable --ui` command, and image downloading failed. Looking at the source code, I see couple of references to the `:latest` tag for Hubble images - https://github.com/cilium/cilium-cli/blob/master/hubble/ui.go#L187. We switched from `:latest `tags to `:-ci` tags for other images so it would be good to keep the tags consistent.

[2021-04-30 16:46] nbusseneau opened #203 "azure: remove Azure Service Principal-related code"
**Dependent on https://github.com/cilium/cilium/issues/15966 being integrated into `cilium-operator-azure`**

After removing requirement for Azure SP from the operator, remove SP-related code from the CLI:

- CLI options/flags
- Automated SP creation if not provided via options/flags

[2021-04-30 22:37] #191 closed

[2021-04-30 22:54] cmluciano opened #204 "uninstall: Remove hubble ui without removing hubble"
**Problem**
Running `cilium hubble disable --ui` ignores the `--ui` flag and jumps straight to disabling all of hubble

**Expected outcome**
`cilium hubble disable --ui` would only disable the UI. On quick look in [the hubble section](https://github.com/cilium/cilium-cli/blob/271da5361610232b04dbcd26d254a3d49357128c/hubble/hubble.go#L181) we may only be looking disable and then reverting everythin

[2021-04-30 22:59] cmluciano commented on #60
Fixed by https://github.com/cilium/cilium-cli/pull/163

[2021-05-01 05:02] #60 closed

[2021-05-02 20:26] lfundaro opened #205 "Idempotent Cilium Install ?"
Just noticed that when issuing `cilium install` 2x in a row, the second execution fails because resources (service accounts, config maps, daemonsets, etc) have been created already. Is this intended ?

How to reproduce:

`Release v0.5`
[code]

From a security perspective, it could make sense to abort installation, i.e.: one could argue that the cluster has been compromised with a certificate that

[2021-05-07 14:08] ti-mo commented on #67
The work in https://github.com/cilium/cilium-cli/issues/67 adds context cancellation to most parts of the test runner, and will already remove policies applied during the currently-active test when ctrl+C is hit.

I would like to extend this by adding `cilium-test` namespace cleanup behaviour and making it opt-out with a `--preserve` or `--skip-cleanup` flag of some sort to allow for quick iterati

[2021-05-07 20:24] joestringer commented on #67
I like this idea. The CLI should work reasonably for the user first, then if developers want something special we can have a dedicated flag or developer mode for common use cases there. In the Cilium Ginkgo CI we have the "holdEnvironment" flag, I think I saw @jrajahalme propose a similar flag for this CLI recently too so you can run a test and stop in the middle if something fails. Might make sen

[2021-05-10 19:39] errordeveloper opened #216 "enabling Hubble in GKE"
GKE runs Cilium when dataplane V2 is enabled. The installation is full managed, and as of today based on 1.9. The agent pod is named `anet`, but it still uses `cilium-config` configmap. I have tried updating the configmap, and found that any changes to flags that are already defined by GKE do get overridden by the add-on manager, but new keys stay untouched. I think it should be possible to enable

[2021-05-11 00:13] christarazi opened #217 "Add L7 connectivity tests"
Both ingress and egress are needed. We've had bugs specifically unique to either before (https://github.com/cilium/cilium/issues/15826).

[2021-05-12 09:07] jrajahalme commented on #217
https://github.com/cilium/cilium-cli/pull/158 added policy testing support, and https://github.com/cilium/cilium-cli/pull/194 added ingress policy case. With these we have both ingress and egress L7 proxy connectivity tests.

https://github.com/cilium/cilium-cli/pull/215 overhauls the testing framework which makes for painful rebases for now, hopefully we can merge this soon.

[2021-05-12 15:45] christarazi commented on #217
Ah, I wasn't aware of that. So this issue should be closed then?

[2021-05-13 01:27] christarazi opened #518 "Collect `cilium-operator metrics list` output"
We collect the agent metrics via bugtool. Since the operator does not run per node, we need to add this functionality in the sysdump tool.

Existed since https://github.com/cilium/cilium/pull/14484

[2021-05-14 09:10] l1b0k opened #222 "connectivity tests expected to be configable"
expected to config the address for the test `world`

[code]

[2021-05-14 12:22] nebril opened #224 "External workload flake - vm Cilium agent cannot connect to the clustermesh apiserver."
This is a transient failure that I observed when working on https://github.com/cilium/cilium-cli/pull/212

Cilium install script on external vm failed timing out, waiting for Cilium agent to come up.

Cilium logs showed that agent was unable to connect to the ip of the clustermesh apiserver deployed in gke cluster.

This issue tend to happen several times in a row and then it "fixes" itself. My wo

[2021-05-19 15:38] jrajahalme opened #230 "Flow validation fails to get flows"
Getting flows for one of the pods times out, while the flows returned for the destination pod show that flows matching the source pod actually exist. Check if this is an issue with flow filtering, or if we should simply try to get the flows for the source pod again after getting flows for the destination pod.

Example output:

[code]

[2021-05-20 13:10] nbusseneau opened #231 "Add Windows executable to built artifacts"
Since we already have a Windows executable for Hubble CLI, this would allow complete CLI usage from Windows.

[2021-05-20 13:21] rolinh commented on #231
For context, the reason why there's no Windows release binary currently is because the cilium logger is imported and is not compatible with Windows because of the reliance on the syslog package. Once building for Windows is fixed, creating a Windows release binary is trivial.

[2021-05-21 07:45] Jean-Daniel commented on #133
Same issue here (CRI-O too).

I guess the simplest solution would simply to patch the security context of the containers that needs to ping to include NET_RAW.

[code]

[2021-05-23 21:19] lfundaro opened #239 "install would take production down"
If `cilium install` is meant to behave well with production clusters, then at the end of the installation, when restarting unmanaged pods, it should  issue pod deletions through the eviction API (honoring Pod Disruption Budgets), otherwise plain deletes would cause a service outage.

[2021-05-25 18:33] mauilion opened #243 "cilium-cli --kube-proxy-replacement unable to install."
When deploying cilium using cilium-cli for the first time. I brought up a cluster without kube-proxy.

When running cilium install `--kube-proxy-replacement strict` the install fails as pods are unable to connect to the k8s apiserver.

In the logs of the pods I can see that it's trying to connect to the internal service ip for the apiserver.

the helm install manages this by allowing the installer

[2021-05-26 07:37] vosdev commented on #187
The example in the --help even shows the wrong syntax
[code]

[2021-05-26 15:54] ti-mo opened #247 "Warn/fail on long IPCache convergence times"
For https://github.com/cilium/cilium/issues/16302.

Commit 37d795c483bd861635a11c7592ea0136a7de77cc introduced a wait loop to watch for ipcache entries the test suite depends on. Currently, its timeout is set to 20 seconds, and exceeding it results in a testing error.

@gandro @jrajahalme Should this timeout be lowered? Anything else we could add here?

[2021-05-26 16:05] aditighag opened #248 "Track stats for ipcache propagation wait loop"
Commit 37d795c introduced logic to wait for ipcache entries to be populated. Currently, we set an upper bound on the timeout set in such loops, but it'll good to have some kind of heuristics to base the values on.  With large timeouts,  regressions in the code (e.g., the one fixed by #16381) are likely to go unnoticed.

Per [comment](https://github.com/cilium/cilium-cli/pull/215#discussion_r634461

[2021-05-26 16:38] gandro commented on #247
In my opinion, I think if IPCache updates takes longer than say 30 seconds, it should be a hard test failure, as this will also be noticeable to users. If we just warn and increase the timeout, I'm afraid the warnings will likely just be ignored by most developers.

[2021-05-27 19:32] ti-mo commented on #248
Possible duplicate of #247, prompted by discussion during weekly. Could we discuss there what sort of tracking is expected to be performed?

[2021-05-27 19:35] ti-mo commented on #217
There's now #251, that adds an additional egress policy for client pods, although it's exercised with a test reaching out over the internet as well as to a local Pod.

Closing this for now, feel free to re-open if any further iteration is necesary.

[2021-05-27 19:35] #217 closed

[2021-05-27 19:35] aditighag commented on #248
#247 discusses whether wait loop duration should be lowered or not. I don't see how this issue duplicates that one. The linked comment in the description gives more details about what sort of tracking I'm proposing.

[2021-05-27 19:39] ti-mo commented on #222
@l1b0k This probably won't happen in the near future since the tests and their policies are currently tightly-coupled. I agree we should probably use another domain for testing purposes, we're open to suggestions. (I assume you're trying to run this from China)

[2021-05-27 19:49] aditighag commented on #247
This seems as random as the current configured duration. Currently, we have set an upper bound, but it'll be good to get some heuristics around what's acceptable or not, and catch regressions if any. I've opened #248 to start that discussion.

[2021-05-27 19:51] ti-mo commented on #247
Alright, let's continue there then.

[2021-05-27 19:51] #247 closed

[2021-05-28 02:02] jrajahalme opened #255 "uninstall restarts cilium pod(s) after removing hubble"
uninstall restarts cilium pod(s) after removing hubble (even when hubble was not enabled):
[code]

[2021-05-28 02:19] jrajahalme commented on #255
This may also only be a UI issue as on a 2nd try I don't see the cilium pod initializing after `cilium uninstall`. Possibly was issuing `cilium uninstall` before prior `cilium install` had fully completed.

[2021-05-28 06:51] aditighag opened #256 "Mount cgroup2 fs in cilium DS"
The current installation code runs an [init container](https://github.com/cilium/cilium-cli/blob/master/install/install.go#L685) to mount BPF fs. We also need to mount cgroupv2 fs. See https://github.com/cilium/cilium/pull/16259 for more details.

[2021-05-28 07:20] pchaigno commented on #255
I think this is a duplicate of https://github.com/cilium/cilium-cli/issues/165.

[2021-05-31 10:04] #179 closed

[2021-05-31 12:28] kaworu opened #260 "upgrade: `cilium upgrade` does not patch the Hubble Relay image"
When Hubble Relay has been installed (for example through `cilium hubble enable`), `cilium upgrade` doesn't update the Hubble Relay image to the upgraded version.

[2021-05-31 13:03] kaworu opened #262 "upgrade: `cilium upgrade` should not allow to upgrade to a greater minor version"
`cilium upgrade` should only be used to update to a patch version (e.g. from v1.9.7 to v1.9.8). Upgrading to a different minor version (e.g. from v1.9.8 to v1.10.0) is not supported yet. See [this commit](https://github.com/cilium/cilium-cli/commit/b8915ac0557a4908a24696f1f3fe9c75e510cb12) for context.

However, nothing is preventing a user to run `cilium upgrade --version v1.10.0` when the cluste

[2021-05-31 15:26] GoGstickGo commented on #260
Do you want to have `cilium hubble upgrade` cmd or when one runs `cilium upgrade`  it should upgrade hubble as well if it installed ?

[2021-05-31 15:29] rolinh commented on #260
@GoGstickGo Hubble Relay lives in the Cilium tree and depends on Cilium releases. I think the aim should thus be to handle the upgrade as part of `cilium upgrade`.

[2021-05-31 15:31] GoGstickGo commented on #260
Roger that, thanks for the  clarification . @rolinh

[2021-05-31 19:03] rolinh opened #263 "sysdump: collect Hubble Relay configmap"
The `sysdump` subcommand does not collect Hubble Relay's configmap. This should be added in a similar way that is done for the Cilium agent.

[2021-06-02 03:44] xlejo opened #268 "upgrade: `cilium upgrade` should not allow to upgrade to a non-existence version."
`cilium upgrade` should not allow to upgrade to a non-existence version.

I tried to upgrade to `v1.1.10` and pods started to download that non-existent version, staying in `ErrImagePull` forever.

[2021-06-02 03:50] xlejo opened #269 "connectivity test: `cilium connectivity test` should delete pods before the test is done."
When the `cilium connectivity test` done successfully, the pods stayed in the cluster.

[2021-06-02 13:48] asteven opened #270 "connectivity test: cilium connectivity test should run pods that use ping with CAP_NET_RAW"
The crio runtime has dropped CAP_NET_RAW from default capabilities since version 1.18.

This causes the 9 of 43 of ciliums connectivity tests to fail.

Changing crio's default_capabilities from:

[code]

to:

[code]

allows the cilium tests to run successfully.

The proper solution would be to run the pods that want to use ping with an explicitly configured CAP_NET_RAW.

[2021-06-02 13:58] pchaigno commented on #270
Duplicate of https://github.com/cilium/cilium-cli/issues/133.

[2021-06-02 13:58] #270 closed

[2021-06-02 14:22] asteven commented on #133
With the patch from #271 all tests run to completion against a crio 1.21.0 with default config.

[code]

[2021-06-02 16:08] nbusseneau opened #272 "workflows: automatically bump Cilium version to latest stable when releasing"
Follow-up to discussion in Jun 2 community meeting:

`cilium install` should default to installing the latest `stable` version of `cilium/cilium`, but we don't want to use the `quay.io/cilium/cilium:stable` because we need to have CLI versions pinning the Cilium version.

Proposed solution: have the [release workflow](https://github.com/cilium/cilium-cli/blob/41c027ead2571551a42d8b899212a583712a2a

[2021-06-02 16:13] nbusseneau opened #273 "ux: detect new CLI releases and propose to update"
Follow-up to discussion in Jun 2 community meeting:

Since we pin the Cilium version in the CLI (see also #272), if users do not update the CLI then they never install newer Cilium versions.

Proposed solution: have the CLI automatically detect new releases, and ideally, propose to update in-place.

Potential interesting implementations:
- https://github.com/weaveworks/go-checkpoint (fork of https

[2021-06-03 09:36] ti-mo opened #274 "Policy tests: parity with `cilium/cilium`"
This issue is a working document to track the diff between what's covered by `cilium connectivity check` and the `test/k8sT/Policies.go` file in `cilium/cilium`. The initial goal was to detect overlap, but throughout the 1.11 cycle we'll be implementing some more Scenarios to improve the coverage, as well as adding more policies to run existing Scenarios under.

When tackling any of the things bel

[2021-06-03 10:08] ti-mo opened #275 "Create pool of test namespaces to enable cross-namespace Scenarios"
Currently, we're creating a fixed `cilium-test` Namespace that contains a single stack of client/echo Pods. In order to support cross-namespace tests, we should move away from this model in order to make implementing new cross-namespace Scenarios less painful.

I propose to:
- Make testing Namespaces randomly-generated
- Create a `sync.Pool` (or similar) construct that allocates Namespaces on-dema

[2021-06-03 10:10] ti-mo commented on #269
Hi @xlejo, thanks for the issue. This is indeed a bit inconvenient. `cilium uninstall` removes the `cilium-test` namespace, but that's probably not what you need. :slightly_smiling_face:

I've created #275 that will address this issue, closing this one.

[2021-06-03 10:10] #269 closed

[2021-06-03 10:21] ti-mo opened #276 "Pods in `cilium-test` don't respond to interrupt signals"
This is a classic mistake, but the echo and client pods currently don't respond to SIGTERM and need to be SIGKILLed (after k8s's termination grace period). This makes the pods take forever to terminate instead of what should take microseconds.

A brief explanation is here: https://petermalmgren.com/signal-handling-docker.

Using `tini` or `dumb-init` is not necessary, but e.g. the `/bin/sh -c "sle

[2021-06-03 18:20] olemarkus opened #281 "junit output for connectivity test"
kOps would really like to use cilium cli in our e2e tests. As part of that, it would be very nice to have junit output that prow can use for the test dashboards.

[2021-06-03 20:21] lfundaro commented on #205
closing as we don't need idempotency. The issue evolved into telling users to do a `cilium upgrade` if they are trying to `reinstall` cilium.

[2021-06-03 20:21] lfundaro commented on #205
closing as we don't need idempotency. The issue evolved into telling users to do a `cilium upgrade` if they are trying to reinstall cilium.

[2021-06-04 10:14] kaworu commented on #272
AFAIK this is not possible to do automatically at the moment. This information is simply not available. At the moment, the latest stable version is v1.9.8 but `helm install` will install v1.10.0.

In Hubble, we have a [`stable.txt` file in the `master` branch](https://raw.githubusercontent.com/cilium/hubble/master/stable.txt) which contain the latest stable version.

[2021-06-04 11:26] rolinh commented on #272
I'm confused. v1.10.0 **is** the latest stable version, not v1.9.8 :thinking:

[2021-06-04 11:41] pchaigno commented on #272
Let's just add the same in cilium/cilium.

[2021-06-04 14:22] kaworu commented on #272
@rolinh correct thank you, I was confused by the v1.10.0 release note which can be interpreted as "v1.9.7 is still the stable release".

[2021-06-04 19:16] joestringer opened #287 "Support opening hubble UI on non-mac platforms"
This line uses `open` to open the Hubble UI:

https://github.com/cilium/cilium-cli/blob/309c2a34257bb08e21fed9ef87b499e2d7016121/hubble/ui.go#L338

This works on OSX, but not on other platforms.

On Linux, I believe that we could alternatively try `xdg-open`.

[2021-06-08 16:58] pchaigno opened #293 "Implement `--flow-validation=disabled`"
Running the connectivity tests with `cilium connectivity test --flow-validation=disabled` doesn't seem to actually disable flow validation:
[code]
See https://github.com/cilium/cilium/runs/2748784336?check_suite_focus=true for details.

The following command also shows that it's not used anywhere apart from its definition :confused:
[code]

I've marked this as `bug` because it looks like an oversi

[2021-06-10 01:48] uipo78 opened #300 "cilium-ca does not exist when cilium is installed via helm, thus causing `cilium clustermesh connect` to fail"
Example helm config:
[code]
Example secret query in one of the clusters:
[code]
Trying to mesh cluster A and B:
[code]

I assume `clustermesh-apiserver-ca-cert` is what we're looking for in this case, but I figured you all would like to know about this.

[2021-06-11 17:39] michi-covalent commented on #293
i guess there are two PRs now, we can really make sure the validation is disabled 😄

[2021-06-14 10:26] llivingstone opened #313 "Cilium CLI Connectivity Test DNS label missmatch"
Hi,

When using v1.20 of EKS, there is an ability to disable the AWS CoreDNS deployment is available in order to deploy your own. When doing this with the latest, public `coredns` Helm chart, the `k8s-app` label is `coredns` and not `kubedns` (https://github.com/coredns/helm/blob/master/stable/coredns/templates/deployment.yaml#L12)

The `client-egress-to-fqdns-google` Policy on the connectivity te

[2021-06-14 13:07] pchaigno commented on #313
Thanks for the report!

I think that makes sense. Could you send a PR?

[2021-06-14 14:31] llivingstone commented on #313
Of course i can, thanks!

[2021-06-14 23:05] #293 closed

[2021-06-14 23:38] #133 closed

[2021-06-15 07:46] llivingstone commented on #313
https://github.com/cilium/cilium-cli/pull/320

[2021-06-15 13:44] pchaigno opened #321 "Collect logs for cilium-cli pod in test artifacts"
I'm seeing the following error in the sysdump of a failing CI job (cf. [cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium-cli/files/6656031/cilium-sysdump-out.zip.zip)):
[code]

The logs for that pod are however not collected as part of the test artifacts, so it's hard to figure out what's happening.

[2021-06-15 18:37] llivingstone commented on #313
This has been merged!

[2021-06-15 18:37] #313 closed

[2021-06-16 15:36] rolinh commented on #272
https://github.com/cilium/cilium/pull/16453 was merged which means that there's now a [`stable.txt` file](https://github.com/cilium/cilium/blob/master/stable.txt) at the root of cilium's git repo master branch that always points to the latest stable release.

[2021-06-17 05:29] michi-covalent opened #329 "flake: External Workloads"
# flake instances:

- https://github.com/cilium/cilium-cli/runs/2845728154?check_suite_focus=true
- https://github.com/cilium/cilium-cli/pull/319/checks?check_run_id=2899270560
- https://github.com/cilium/cilium-cli/pull/379/checks?check_run_id=2936147278

# symptom:

cilium fails to start:
[code]

# other notes

not sure if this is relevant, but i see this error in https://github.com/cilium/ciliu

[2021-06-17 10:55] tklauser commented on #287
Noticed the same and sent PR #332 and only now noticed this issue. That PR fixes this using the `github.com/pkg/browser` package which essentially wraps `xdg-open` and other tools, depending on platform.

[2021-06-17 11:21] nbusseneau commented on #329
We added agent restart retries in #290 but seems like this is a genuine failure with something else, not the agent booting up.

[2021-06-17 13:08] gandro opened #333 "flake: Unable to determine status on AKS after cilium pod restart"
[code]

Looks like `kubectl exec` and `kubectl logs` are both broken, as sysdump is also unable to fetch logs, but "kubectl get pods" reports all pods `Ready`. It seems clear that

Seems like the K8s apiserver is unable to talk to kubelet on the nodes:

- Restarting tunnelfront (done in the installation step) broke connectivity to the API server.
- Restarting Cilium when enabling Hubble somehow br

[2021-06-17 18:31] michi-covalent opened #334 "flake: hubble-relay in crash loop backoff"
# flake instances

- https://github.com/cilium/cilium-cli/pull/331/checks?check_run_id=2847932537

# symptom

hubble-relay in crash loop backoff after `cilium hubble enable`:
[code]

# other notes

i think this is just a timing issure where hubble-relay gets deployed before cilium restart is complete, and cilium is not managing hubble-relay. i'll take a stab at fixing this.

[2021-06-18 17:46] #187 closed

[2021-06-18 18:11] nbusseneau commented on #156
I had missed this, but yes I think `--force-deploy` actually solves the issue.

[2021-06-18 19:04] #334 closed

[2021-06-18 19:08] ti-mo opened #340 "Clean up `--flow-validation` source of truth"
It's currently too complicated to check if we're supposed to attempt to connect to Hubble to perform flow validation or not. The fact that `flow-validation` is a tri-state doesn't help, since different code paths check `params.FlowValidation` for different values. The whole setup is just confusing, and it's frequently misused. Either flow validation is enabled and a connection to Hubble is require

[2021-06-18 20:54] michi-covalent opened #342 "flake: timeout reached waiting for service (echo-same-node or echo-other-node)"
# flake instances

- https://github.com/cilium/cilium-cli/pull/331/checks?check_run_id=2861168613
- https://github.com/cilium/cilium-cli/runs/2842079516?check_suite_focus=true#341
- https://github.com/cilium/cilium-cli/pull/336/checks?check_run_id=2860556736

# symptoms

`cilium connectivity test` times out waiting for echo-same-node or echo-other-node service.

[code]

[2021-06-18 21:27] michi-covalent opened #344 "flake: curl to nodeport fails with exit code 7"
# flake instances

- https://github.com/cilium/cilium-cli/runs/2861768000?check_suite_focus=true
- https://github.com/cilium/cilium-cli/pull/319/checks?check_run_id=2861173337

# symptoms

curl to nodeport (can be either a local or remote nodeport) fails with exit code 7 (Connect failed):
[code]
and the subsequent flow validation fails.

[2021-06-19 11:13] nbusseneau commented on #342
I've hit this in #336 as well: https://github.com/cilium/cilium-cli/actions/runs/950610632

[2021-06-19 11:16] nbusseneau commented on #344
Hit in #339: https://github.com/cilium/cilium-cli/actions/runs/950721302

[2021-06-21 07:31] #287 closed

[2021-06-21 08:38] #344 closed

[2021-06-21 11:21] tklauser commented on #231
https://github.com/cilium/cilium/pull/16600 should fix this on the `cilium/cilium` side. Once that PR is approved and merged and made its way into a stable release and that release is vendored into `cilium/ciliumn-cli` we should be able to provide Windows release binaries as well.

[2021-06-22 14:53] pchaigno opened #351 "sysdump: Include stdout/stderr of `cilium sysdump` in sysdump"
When we ask users to retrieve a sysdump, we are sometimes missing information in the sysdump (such as bugtool reports) because errors happened. If we also collected the stdout and stderr of the `cilium sysdump` command in the sysdump itself, we would know exactly what errors were hit and could improve `cilium sysdump` or ask to retrieve a new sysdump.

[2021-06-22 16:45] aditighag commented on #256
André is working on the BPF mount changes.

[2021-06-22 22:32] michi-covalent opened #355 "flake: timeout waiting for nodeports on EKS(ENI)"
# flake instances

- https://github.com/cilium/cilium-cli/runs/2889294353?check_suite_focus=true
- most of the recent failures in https://github.com/cilium/cilium-cli/actions/workflows/eks.yaml?query=event%3Aschedule++

# symptoms

connectivity check times out waiting for nodeports
[code]

# other notes

i recently added a pre-test check to make sure all the nodeports are open: https://github.com/

[2021-06-23 03:49] michi-covalent commented on #355
steps to repro:

- follow https://docs.cilium.io/en/v1.10/gettingstarted/k8s-install-default/ to create an eks cluster and install cilium. use `cilium-cli: v0.8.1`.
- run the connectivity check:
[code]
- `kubectl exec` into the client pod and try connecting to the nodeport of `echo-other-node` service. the client pod can connect to the nodeport of the local node but not to the remote node.

[2021-06-23 08:47] pchaigno opened #357 "Tests should check for absence of bad log messages"
In the ginkgo tests, we fail the tests when we find certain bad messages in the agent and operator logs. Such bad messages include `level=error` messages, but also other, more specific messages: https://github.com/cilium/cilium/blob/2e0427a6a5958485064e217fc4244f8f003c64e2/test/helpers/cons.go#L294-L312.

This has been useful to ensure we catch issues which are not immediately visible in Cilium be

[2021-06-23 22:35] michi-covalent commented on #329
warning / error messages from https://github.com/cilium/cilium-cli/pull/319/checks?check_run_id=2899270560
[code]

[2021-06-24 03:13] michi-covalent opened #361 "flake: timeout reached waiting for pod IDs in ipcache of Cilium pod"
# flake instances

- https://github.com/cilium/cilium-cli/pull/350/checks?check_run_id=2884239757
- https://github.com/cilium/cilium-cli/pull/319/checks?check_run_id=2900015642

# symptoms

connectivity check fails with an error like this:
[code]

# other notes

a related upstream issue: https://github.com/cilium/cilium/issues/16542

[2021-06-24 08:52] tklauser opened #363 "Document release process"
Add a `RELEASE.md` file documenting the release process, akin to https://github.com/cilium/cilium/blob/master/RELEASE.md and https://github.com/cilium/hubble/blob/master/RELEASE.md.

[2021-06-24 14:53] gandro opened #367 "flake: `allow-all/pod-to-world/http(s)-to-cilium-io` fails"
Observed in https://github.com/cilium/cilium-cli/pull/366 on EKS:

https://github.com/cilium/cilium-cli/pull/366/checks?check_run_id=2905226287

The flow logs indicate that a DNS request was made, but no TCP connection was ever established:

[code]

It's not clear why there was never any TCP outgoing connection from curl. Unfortunately we don't seem to collect any L7 flows which would give us more

[2021-06-24 14:55] nebril commented on #329
Cilium not being able to connect to clustermesh apiserver is caused by pod in pending state:
[code]

[2021-06-24 19:57] tklauser commented on #363
Probably out of scope here, but would be nice if we could automatically generate a changlog for releases as well.

[2021-06-25 09:50] tklauser commented on #367
Seen the same on GKE with #364: https://github.com/cilium/cilium-cli/pull/364/checks?check_run_id=2903745040

[2021-06-25 17:56] aditighag opened #370 "Connectivity test failed: services "echo-same-node" is forbidden"
Hit this issue on GKE.

[code]
Also, reported by @michi-covalent .

https://github.com/cilium/cilium/runs/2915516477?check_suite_focus=true

[cilium-sysdump-out.zip (5).zip](https://github.com/cilium/cilium-cli/files/6718024/cilium-sysdump-out.zip.5.zip)

[2021-06-25 23:45] aditighag opened #374 "Replace busy wait loops with kubectl `wait`"
Replace busy wait loops with the `wait` functionality exposed by kubectl - https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#wait. It supports waiting for deleted resources too.

`Alternatively, the command can wait for the given set of resources to be deleted by providing the "delete" keyword as the value to the --for flag.`

[2021-06-26 18:18] vniche commented on #300
Also having trouble when running `$ cilium hubble enable --ui`:

[code]

doesn't happen with `$ cilium install` process.

[2021-06-28 21:47] #370 closed

[2021-06-29 15:35] blankburian commented on #300
After manually setting the cilium-ca secret, I ran into another discrepancy: The certificates generated with the helm cronjob are singular, e.g. "clustermesh-apiserver-server-cert" and the names used in cilium-cli are plural, e.g. "clustermesh-apiserver-server-certs".

[2021-06-29 20:17] Lawouach opened #382 "Documentation is not aligned with current CLI"
Hey everyone,

I installed the cilium cli as per the documentation [here](https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/#install-the-cilium-cli). I then realised I couldn't issue almost any commands of the [cli reference](https://docs.cilium.io/en/stable/cmdref/) or as shown in the [cheatsheet](https://docs.cilium.io/en/stable/cheatsheet/) because they don't show up:

[code]

[2021-06-29 20:22] pchaigno commented on #382
That documentation page refers to the cilium CLI running inside Cilium pods, not to the cluster-wide CLI this repository is about. We should probably clarify that.

[2021-06-29 20:23] Lawouach commented on #382
Oh, this makes so much sense now. Yeah, this really confused me. Talking about two CLI but didn't realise that. My bad totally.

[2021-06-29 20:59] lizrice commented on #382
Maybe we could have `cilium version` display some kind of clarifying message to indicate whether it’s the in-pod or cluster-wide CLI. (I don’t think that’s the long term plan but it might be helpful in the short term.)

[2021-06-30 13:00] gandro opened #384 "`cilium clustermesh status` blocks even when not using `--wait`"
`cilium clustermesh status` currently can block if the clustermesh apiserver is not ready. This causes problems when gathering CI post-failure information, as when the cluster is in a bad state, then information gathering will also timeout:

Example of this happening on `cilium/cilium`:

[code]
https://github.com/cilium/cilium/runs/2950136634?check_suite_focus=true

[2021-07-01 01:01] Mierdin opened #388 "Add common logging package"
Creating this issue as a result of the conversation in https://github.com/cilium/cilium-cli/pull/371#pullrequestreview-696214049:

Currently, each command's implementation contains its own `Log` method:

https://github.com/cilium/cilium-cli/blob/54ab891e0f80c38a0bb166cd7b483fbee2941f19/install/install.go#L1153-L1155
https://github.com/cilium/cilium-cli/blob/54ab891e0f80c38a0bb166cd7b483fbee2941f19

[2021-07-01 09:19] gandro opened #389 "`cilium hubble enable` does not wait correctly for Cilium to be ready"
PR https://github.com/cilium/cilium-cli/pull/335 introduced logic to ensure the restarted Cilium pod is ready before Hubble Relay is deployed. However, it seems that this logic does not always work correctly. While using the CLI locally with Kind, I found it immediately declared Cilium to be ready, when it was in fact not (as evident by the `ks get pods` I executed right after).

[code]

Cilium CL

[2021-07-01 14:19] #384 closed

[2021-07-01 19:26] jrajahalme commented on #329
https://github.com/cilium/cilium-cli/pull/353 may fix this as it will actually wait for the service backend to be available when doing `cilium clustermesh status --wait`. This was merged a week ago.

[2021-07-02 07:54] tklauser commented on #367
#373 changed the connectivity tests to use `*.cilium.io` instead of `*.google.com`, but it seems like failures of this kind still occur, see e.g. https://github.com/cilium/cilium-cli/runs/2969863237.

[2021-07-02 16:45] michi-covalent commented on #367
this one is actually even worse, it looks like `curl` succeeded (no 28 error) but still no SYN packet 🤯

[2021-07-05 12:27] tklauser commented on #361
Hit in #392: https://github.com/cilium/cilium-cli/pull/392/checks?check_run_id=2989797441

[2021-07-05 12:59] tklauser commented on #361
Another failure in #397 https://github.com/cilium/cilium-cli/runs/2990063487?check_suite_focus=true

[2021-07-05 13:38] nbusseneau opened #399 "flake: `allow-all/pod-to-service/curl-2` timeout during `curl` exec, no flows retrieved"
Hit in GKE on #390 https://github.com/cilium/cilium-cli/actions/runs/1001017290
[code]
Attaching sysdump:
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium-cli/files/6764570/cilium-sysdump-out.zip.zip)

List of PRs blocked:
- ~~#390~~ Manually unblocked after 2 weeks as an exception because it seems we have not reproduced this flake ever since.

[2021-07-05 15:10] GuillaumeSmaha opened #401 "Hardcoded service DNS domain"
New kube-dns test added in commit https://github.com/cilium/cilium-cli/commit/d3d89298bf0511a3aa9233d8d402ae7e083469e3 is failing on kubernetes installation using a custom service DNS domain because the domain is hardcoded in test:
https://github.com/cilium/cilium-cli/blob/8d0139bb8af6b885da71c4c1d0e14af41f901274/connectivity/check/deployment.go#L503

To reproduce:
Use `--service-dns-domain=custom

[2021-07-05 22:27] tklauser commented on #401
/cc @jrajahalme

[2021-07-06 22:52] michi-covalent opened #406 "version check doesn't work with cilium CI image tags"
cilium-cli relies on the image tag being in the format `vx.y.z` to detect cilium version being installed: https://github.com/cilium/cilium-cli/pull/397

this does not work with cilium CI workflows since they tag cilium images with commit SHAs: https://github.com/cilium/cilium/blob/master/.github/workflows/conformance-aks.yaml#L129

[2021-07-06 23:45] christarazi opened #407 "Upgrading via `cilium upgrade` on Azure / AKS uses the generic Operator image instead of the `-azure` flavor"
I suspect this to also occur on Amazon EKS and other cloud-managed services. The upgrade command needs autodetection logic as well.

[2021-07-07 00:07] michi-covalent opened #408 "sysdump command is broken"
after commit https://github.com/cilium/cilium-cli/commit/8d0139bb8af6b885da71c4c1d0e14af41f901274, output from cilium-bugtool command is going to stdout instead of stderr for some reason:

cilium sysdump fails with this error:
[code]

[2021-07-07 07:51] tklauser commented on #361
Occured again on `master` in the multicluster workflow: https://github.com/cilium/cilium-cli/runs/3005090578?check_suite_focus=true

I'll open a PR enabling debugging options for connectivity tests to maybe get some more insight into what part of `(*ConnectivityTest).waitForIPCache` is failing.

[2021-07-07 08:49] #408 closed

[2021-07-08 11:05] malikkirchner opened #412 "Enable Prometheus metrics"
The Cilium Helm Chart has support for Prometheus metrics. It would be great, if the `cilium install` command would have a flag, that enables Prometheus metrics.

[2021-07-08 12:18] gandro commented on #389
Did some more investigation, this might not be a big issue in practice after all. The core problem is that the DaemonSet status is not updated quick enough to capture the pod restarts.

However, #335 added this check to ensure the Hubble Relay/UI pods will be managed by Cilium. It succeeds in that, because even if the most recent pods are not ready yet, if Cilium was ready before, then the CNI plu

[2021-07-13 00:14] michi-covalent opened #419 "flake: missing SYN-ACK in flow validation"
# flake instances

- https://github.com/cilium/cilium-cli/pull/418/checks?check_run_id=3051888846 (no-policies/pod-to-local-nodeport/curl-0)

# symptoms

SYN-ACK is missing in the flow log:
[code]

[2021-07-13 15:59] nbusseneau opened #425 "ux: add Hubble capabitilies to `cilium install` and `cilium upgrade`"
Right now, Hubble has to be enabled by `cilium hubble enable` later than at install time:

It would be great if Hubble could be enabled right from the start with `cilium install` with an additional flag (`--hubble`?) and possibility to specify the relay image (`--relay-image`).

This capability should also be conferred to `cilium upgrade`: we should detect if Hubble is enabled, and then automatica

[2021-07-13 22:20] samueltorres opened #427 "cilium clustermesh status doesn't work when Clustermesh is installed via Helm"
When Clustermesh is installed via Helm, the ` cilium clustermesh status` command doesn't run correctly.

This command fails because of a mismatch on the clustermesh certificates secret names defined on cilium-cli and Helm Chart.

cilium-cli
[code]

Helm Chart
[code]
https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/clustermesh-apiserver-server-secret.yaml#L8

[code]

[2021-07-14 06:39] xyz-li opened #430 "cilium should not delete succeeded pods"
Pod with succeeded phase means all containers exit with code of 0, and the system will not restart any of these containers.  Delete these pods will also delete all the logs of the pods. So it makes sense not to delete the succeeded pods.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2543-L2545

[2021-07-15 07:46] #430 closed

[2021-07-15 09:08] jrajahalme opened #1867 "Use ephemeral containers during sysdump if Cilium is stuck in crashloop"
Currently bugtool info for Cilium agent is missing from sysdump for Cilium agents in crashloop. A lot of helpful information (e.g., open sockets, iptables, etc) could be collected also from nodes where Cilium agent fails to start. Would it be possible to run a job in the node with a bugtool/bpftool image to collect the current node state in cases when cilium pod fails to start?

[2021-07-15 12:06] tklauser commented on #231
Merging https://github.com/cilium/cilium/pull/16806 (which prepares the CIlium dependencies to build on Windows) accidentally closed this issue. We first need to vendor a Cilium release including these changes and actually build the Windows binaries, thus reopening the issue.

[2021-07-15 14:50] tklauser opened #435 "Automate release process"
The current release process as documented in `RELEASE.md` still contains quite some manual steps to be performed by a maintainer. Try to automate these as much as possible.

Quoting @nbusseneau from https://github.com/cilium/cilium-cli/pull/434#pullrequestreview-707419013:

[2021-07-15 20:54] #363 closed

[2021-07-16 09:15] tklauser commented on #427
This looks like an oversight in cilium-cli. I think we should fix this here rather than Cilium's Helm chart.

[2021-07-16 09:28] samueltorres commented on #427
Thanks for the feedback :slightly_smiling_face: What happens to the clusters that were set up using the current version ? Should we make it retro-compatible, like only pick up the `certs` if there is no `cert` secret ?

[2021-07-16 09:30] tklauser commented on #427
Yes, I think making it compatible to clusters set up using the `-certs` secret would be preferrable.

[2021-07-16 09:33] samueltorres commented on #427
I'll take care of this then.

[2021-07-16 09:35] tklauser commented on #427
Great, thanks @samueltorres!

[2021-07-19 13:13] nbusseneau commented on #361
Hit in #442: https://github.com/cilium/cilium-cli/actions/runs/1045185846

[2021-07-19 20:21] jrajahalme commented on #361
In this case the fail is due to this timing out:
[code]
The pod `cilium-test/client-7b7bf54b85-fnfjr` has the IP `10.20.1.4`:
[code]
Looking at the `kube-system/cilium-pkl65` (cluster2) ipcache in test artifacts, it has the pod IP:
[code]
Since this is a flake, it is possible that the ipcache entry was populated right after the last check. To see if something else is going on, #444 adds the error

[2021-07-19 20:23] jrajahalme opened #445 "GKE cleanup fails"
[code]
 Looks like a VM is trying to be deleted as a cluster? Or maybe a delete that can't find a resource should not fail the test?

 https://github.com/cilium/cilium-cli/pull/444/checks?check_run_id=3107899715

[2021-07-21 15:21] jrajahalme opened #449 "ConformanceEKS (ci-eks): DNS failure (RCode: Server Failure)"
`cilium test connectivity` fails in multiple (all?) DNS requests. Tests with DNS proxy show the parsed DNS data:
[code]
Unfortunately the test artifacts do not seem to contain coreDNS logs:
[cilium-sysdump-out.zip (3).zip](https://github.com/cilium/cilium-cli/files/6856838/cilium-sysdump-out.zip.3.zip)

Test output (from https://github.com/cilium/cilium/runs/3117250899?check_suite_focus=true):
[co

[2021-07-21 15:52] jrajahalme commented on #449
This was opened in the wrong repo, see https://github.com/cilium/cilium/issues/16963 instead.

[2021-07-21 15:52] #449 closed

[2021-07-22 15:02] nbusseneau commented on #445
The issue here is that the GCP VM failed to create:
[code]
The workflow then stopped and there was nothing to clean up because neither the VM nor the cluster were created.

This is known flake: I had tried to fix that in #338 but was unsuccessful. At least having the setup reversed makes it a bit more reliable when tearing down (as cluster deletion is asynchronous, it was causing more issues the o

[2021-07-26 09:36] pchaigno commented on #445
Between the cluster deletion and the subsequent VM creation? Do we really need to make the cluster deletion asynchronous? IIRC, it's pretty fast on GKE anyway.

I don't think a lot of contributors are aware of this. Maybe worth mentioning it in other venues (calls & Slack)?

[2021-07-26 13:03] nbusseneau commented on #445
No, it can conflict with any operation running on GCP at the same time (another workflow, etc.). Anything you do in GCP is actually always asynchronous even when it looks like it synchronous, because what most commands do is call the operations API and log a new operation (check out `gcloud container operations list` if you're curious) and then wait for that operation to end.

Already did on both

[2021-07-28 06:10] joebowbeer commented on #300
Also seeing this via `cilium hubble enable` after cilium is installed via helm, which is the only documented way to install cilium chained to vpc-cni on EKS.

[2021-07-28 08:14] gandro commented on #300
Both `cilium hubble enable` and `cilium clustermesh enable` have  `--create-ca`. If you enable them, does it work for you? We can consider probably auto-detecting the CA and enable the flag when we detect it's needed.

[2021-07-28 12:00] pchaigno opened #455 "Run connectivity tests on services with a restrictive policy"
In https://github.com/cilium/cilium/pull/17000, we fixed a bug where policy enforcement was failing when using IPsec + endpoint routes and connecting to a ClusterIP service.

IPsec + endpoint routes is tested on CI 3.0 since endpoint routes are enabled by default on GKE, EKS, and AKS. `cilium connectivity test` also covers [service handling](https://github.com/cilium/cilium-cli/blob/ecaaeb8ddac02a

[2021-07-28 17:56] joebowbeer commented on #300
Thanks. I didn't know about `--create-ca`. I notice that `cilium hubble enable` can fail because any of several resources already exist (with or without `--create-ca`), in which case the only recourse is to `cilium hubble disable` before retrying.

[2021-07-28 18:20] joebowbeerxealth opened #456 "cilium hubble enable has incorrect sha for hubble-relay"
I'm running `cilium hubble enable` on a cluster with cilium installed (via helm)

Expected: hubble-relay running
Actual: hubble-relay pending

Reason: The sha256 (8419531) for hubble-relay does not match the sha26 in quay.io

Note: The sha256 matches the cilium image not the hubble-relay image.

Workarounds:
[code]

[code]

Repro:

[code]

[code]

[2021-07-29 09:22] gandro commented on #456
Thanks for the report. Looking at this, it seems the problem is that `cilium hubble enable` and `cilium clustermesh enable` re-use the sha256 from the Cilium image, which of course is wrong.

Uses of `cilium install` will not use a sha256, so this currently only occurs if the user installed Cilium via Helm.

There are two steps in fixing this:
1. Do not reuse the sha256 from the Cilium version (ea

[2021-07-30 13:36] nbusseneau commented on #118
We now also have [`stable.txt`](https://github.com/cilium/cilium/blob/cee08cd2b29927f81e2eca3ad4aea8741a380d70/stable.txt) on `cilium/cilium`, see #272 for context. Note that the 2 issues are still independent: #272 assumes we keep going with the current workflow, which is pinning each CLI release to a Cilium version.

On the other hand: #273 is related, and proposes an alternative by keeping vers

[2021-08-02 03:26] mengxifl opened #459 "cluster name can not match Regular expressions"
here is my k8sinit.yaml file
kubeadm init --skip-phases=addon/kube-proxy  --config=k8sinit.yaml
[code]
here is my setting of clusterName
[code]
when I use command
`cilium install`

give me  an error  mean cluster name can not match Regular expressions

This regular expression setting is too strict I think

[2021-08-02 04:19] mengxifl opened #460 "x509: certificate signed by unknown authority"
Self  built Cluster

cilium install --kube-proxy-replacement=Enable

kubectl logs cilium-vqh9v -n kube-system

is there any skip certificate check Parameters ??

[2021-08-02 06:56] mengxifl commented on #460
/close

[2021-08-02 06:56] #460 closed

[2021-08-02 06:56] mengxifl commented on #460
It done

[2021-08-02 08:46] gandro commented on #456
I don't think we support that currently in the CLI. I recommend opening a new feature request issue for that.

Note that, if possible, we recommend using Helm to enable Hubble if Cilium was installed via Helm, see the `Helm` tab in https://docs.cilium.io/en/v1.10/gettingstarted/hubble_setup/#hubble-setup

[2021-08-02 16:00] #456 closed

[2021-08-03 15:59] joebowbeer opened #461 "RFE: Support CNI chaining"
Please support hybrid/chained installation.

Currently, helm is the only documented method for installing Cilium chained to eks-vpc-cni:

https://docs.cilium.io/en/v1.10/gettingstarted/cni-chaining-aws-cni/#chaining-aws-cni

See https://github.com/cilium/cilium-cli/issues/456#issuecomment-890846404

[2021-08-05 18:26] revolutionlabs opened #464 "Connectivity test doesn't support cluster name parameterization"
Looks like the K8s cluster name is hardcoded to _kube-dns.kube-system.svc.cluster.local_ on line 511 of connectivity/check/deployment.go. I'm not running Kube-DNS, only CoreDNS, and my cluster name is customized. This results in failure of the initial kube-dns lookup since the address _kube-dns.kube-system.svc.cluster.local_ doesn't actually exist.

[code]

Cilium version in case someone wants it

[2021-08-05 20:33] #445 closed

[2021-08-05 20:52] nbusseneau commented on #445
@michi-covalent The fix in action: https://github.com/cilium/cilium-cli/actions/runs/1102850699

- Adds warnings in the logs:
[code]
- Even adds warnings directly on the workflow run page. Nice!

[2021-08-05 22:07] michi-covalent commented on #367
still happening with cilium.io: https://github.com/cilium/cilium-cli/actions/runs/1102848558

[2021-08-09 14:24] owainow opened #472 "DaemonSet Unavailable on AWS deployment of Openshift."
Getting the following issue when trying to install Cilium on an AWS deployment of Openshift V4.6. I am able to install cilium through the operator hub without problem however when I run the install command on the command line "cilium install --cluster-name=x" I consistently run into this error. It seems the cilium-agent containers are not able to be deployed. I cant find any reference to this issu

[2021-08-09 15:41] pchaigno commented on #472
@owainow Could you collect a Cilium sysdump for that cluster? It's hard to help otherwise as `cilium status` doesn't report in-depth information.

[2021-08-09 15:51] owainow commented on #472
Sure let me attach it. New to Cilium so if I've not included any info etc let me know.
[cilium-sysdump-20210809-164914.zip](https://github.com/cilium/cilium-cli/files/6955736/cilium-sysdump-20210809-164914.zip)

[2021-08-09 21:28] pchaigno commented on #472
There seem to be an issue with pulling the image for one of the operator pods:
[code]
There are also a couple errors in agents:
[code]
I don't expect those issues would cause the errors you are seeing however. I didn't find anything else in the sysdump. Were the errors still visible in `cilium status` after you retrieved the Cilium sysdump?

[2021-08-10 13:47] owainow commented on #472
Yes, after getting the syslog if I run cilium status shows a daemon error again. I have tried again on a different cluster but the problem is consistent. Unsure why because OCP is able to "Validate" the quay image. `[owain@localhost ~]$ cilium status
    /¯¯\
 /¯¯\__/¯¯\    Cilium:         1 errors
 \__/¯¯\__/    Operator:       disabled
 /¯¯\__/¯¯\    Hubble:         disabled
 \__/¯¯\__/    Clust

[2021-08-11 06:31] zhaojizhuang opened #477 "show hubble-ui deployment in cilium status"
Show  status of pods and containers for `hubble-ui` deployment in `cilium status`

Now `cilium status` doesn't show the detail status ofr hubble-ui even hubble-ui enabled
[code]

[2021-08-11 13:36] #477 closed

[2021-08-11 15:57] zhaojizhuang commented on #464
/assign

[2021-08-11 21:02] pchaigno commented on #464
@zhaojizhuang I've assigned you. Don't hesitate to reach out on Slack (e.g., #development) if you have any question.

[2021-08-12 12:59] #464 closed

[2021-08-17 03:51] zhaojizhuang commented on #361
still in https://github.com/cilium/cilium-cli/pull/482/checks?check_run_id=3346586422

[2021-08-17 16:14] pchaigno opened #489 "`cilium install` fails with unrecognized arguments on AKS"
The `cilium install` command seems to expect a specific version of the az CLI, but it fails in a non-obvious way:
[code]

[2021-08-17 16:17] pchaigno commented on #489
My `az` version is newer than the version used in CI: https://github.com/cilium/cilium-cli/blob/debe45340bb3d136c8fb54c658d498d09ee3178a/.github/workflows/aks.yaml#L49. So I'm guessing the `--only-show-errors` flag was deprecated :thinking:

[2021-08-17 19:25] amilanoski opened #490 "Allow dots to be used when cilium install is executed"
## Proposal / RFE

**Is your feature request related to a problem?**
Yes

**Describe the solution you'd like**
Support using cilium cli where the cluster has dot in the name other command like **cilium connectivity test** can connect and work fine.

[code]

[2021-08-17 22:18] nbusseneau commented on #489
`--only-show-errors` is still documented in `az` global parameters in the official doc so I'm not sure what's up 😕

[2021-08-17 22:23] nbusseneau commented on #489
Assigning myself to at least try and reproduce.

[2021-08-18 07:26] TrevorTaoARM opened #491 "Can cilium-cli support the install of the image tag of "latest"?"
Now I am doing some modification to the Cilium code and verification testing then, but I don't find the support for the built images with the tag "latest", so I would like ask if the cilium-cli can support that tag in a certain way.

I did some change to the current cilium-cli code to support this tag in my local environment, if it's useful I would like to check it.

[2021-08-18 09:52] owainow commented on #472
Hi, Any updates on this?

[2021-08-18 11:07] zhaojizhuang opened #492 "Add validation for Field in --config"
Add validation for Field `key` and `value` when use `cilium install  --config=key=value`

[2021-08-18 11:45] zhaojizhuang commented on #401
I think this issue can be closed by https://github.com/cilium/cilium-cli/pull/479

[2021-08-18 11:53] tklauser commented on #401
Thanks. Let's close this issue then.

@GuillaumeSmaha please reply here or open a new issue in case you still see the problem.

[2021-08-18 11:53] #401 closed

[2021-08-19 09:43] #231 closed

[2021-08-19 09:44] #131 closed

[2021-08-19 11:16] tklauser commented on #492
@zhaojizhuang What kind of validation are you thinking of?

The keys and values refer to `ConfigMap` entries and might differ depending on Cilium version, which makes validation quite cumbersome. I'd like to avoid having a full copy of all possible `ConfigMap` values for multiple Cilium versions in cilium-cli. Also, we should get an error from Cilium on installation if an invalid field was specifi

[2021-08-19 11:22] tklauser commented on #491
@TrevorTaoARM  You should already be able to do that with the current version. For example, something like `cilium install --agent-image quay.io/cilium/cilium-ci --operator-image quay.io/cilium/operator-generic-ci --version latest` will install the latest CI images.

[2021-08-19 12:28] zhaojizhuang commented on #492
@tklauser I think the validation of field `key` which can be set in `configmap` is ok.  Allow the known `key` and deny the unknown `key`

[2021-08-19 12:51] tklauser commented on #492
As mentioned above, this will require us to keep a copy of valid `ConfigMap` keys for different Cilium versions in cilium-cli. I'd prefer to avoid that. Given that `cilium install --config` is primarily targeted at advanced users and our CI, I think doing the validation on the Cilium side (rather than the CLI) is reasonable.

[2021-08-20 02:30] TrevorTaoARM commented on #491
I checked the cmd you mentioned here with the latest cilium-cli, but it shows the error:
$ ./cilium install --agent-image quay.io/cilium/cilium --operator-image quay.io/cilium/operator-generic  --version latest
ℹ️  using Cilium version "latest"
🔮 Auto-detected cluster name: kubernetes
🔮 Auto-detected IPAM mode: cluster-pool
🔑 Generating CA...
......
🚀 Creating Service accounts...
🚀 Creating Cluste

[2021-08-20 07:21] tklauser commented on #491
This only refers to the version that is assumed for ConfigMap compatibility, see https://github.com/cilium/cilium-cli/blob/b66334031c4eac93821f858e77d3313d04073c22/install/install.go#L1320

The actual version being installed should still be `latest` if you check `cilium status`. Maybe we should make that log message a bit clearer as it could lead to confusion.

[2021-08-20 08:08] TrevorTaoARM commented on #491
Yes, I think the the current version check assumes the version "latest" to be an error case but still use it, but I think it's a normal case and we should process it as a special case in addition to the "1.xx.xx" format.

[2021-08-20 08:15] tklauser commented on #491
I don't think we currently need to treat it as a special case as the `ConfigMap` values for current `latest` are still the same as for 1.10.x as far as I can tell. Or are you seeing any differences?

[2021-08-20 13:04] pchaigno commented on #491
@tklauser It would be nice to avoid the `Unable to parse the provided version "latest", assuming it's =1.10.0` error though.

[2021-08-20 13:24] tklauser commented on #491
@pchaigno Agree, that's what I meant with my comment "Maybe we should make that log message a bit clearer as it could lead to confusion." above. Do yout think we should avoid the error altogether or only in case of the version being set to `latest`?

[2021-08-20 13:32] pchaigno commented on #491
Ah, I had missed that. Sorry.

I think we need to at least clarify the impact of the parsing failure since you said it won't impact the actual installed version. I would also just skip that message for `latest` if we think that's a common case, but that's nitpicking IMO.

[2021-08-20 14:42] TrevorTaoARM commented on #491
Yes, I think the version of "latest" should be thought as normal, as the images built locally are tagged as "latest", so we can check them naturally and quickly.

[2021-08-20 19:24] joestringer opened #495 "Add managed endpoint count to status command"
Occasionally there can be problems come up in clusters where the initial Cilium installation was unsuccessful, so when users create pods, Cilium does not actually manage the endpoints but they are managed by some other plugin (kubenet or another CNI).

The `cilium status` command currently prints a bunch of useful statistics around Cilium pods and whether they are ready or not, maybe we could add

[2021-08-24 03:00] TrevorTaoARM commented on #491
Do you think it's helpful to add a special process to the version of "latest"?

[2021-08-24 06:52] #459 closed

[2021-08-24 16:01] adriananeci opened #498 "Option to get cilium CRDs spec definition"
Is there any way we can get cilium CRDs spec definition while using cilium cli? I've checked available options but didn't find any that can help.

I would like to be able to get the cilium CRDs specs offline (outside of a k8s cluster) so that I can validate cilium related objects from an openapi spec perspective (using tools like [kubeval](https://github.com/instrumenta/kubeval) or [kubeconform](h

[2021-08-25 03:52] zhaojizhuang commented on #492
@tklauser  Yeah, it is more reasonable to verify on the cilium side, where  do you think  we can add the validation?  Add an `webhook` component ?

[2021-08-25 04:53] zhaojizhuang commented on #495
/assign

[2021-08-30 09:19] bmcustodio commented on #361
I've spotted this in a GKE multi-cluster test:

[code]

Deleting the reported pod and restarting the Cilium agents did not seem to help, as the new one could also not be found:

[code]

Here's `cilium bpf ipcache list` for `kube-system/cilium-gg4zv` (a Cilium agent in the target cluster):

[code]

[2021-08-30 13:45] nbusseneau commented on #361
I think this is a good suggestion from @tklauser:

[2021-08-31 12:59] drzero42 opened #505 "Install with CLI fails, works with Helm"
I have a Talos cluster, which due to it's nature does not contain most commands, normally available on hosts. When I use Cilium CLI v0.8.6 to deploy Cilium v1.10.3, it will have an init-container for the cilium-agent daemonset, which is called `ebpf-mount`. This init-container fails (Exit code 127). If I deploy Cilium v1.10.3 with Helm, it works and the daemonset does not contain that init-contain

[2021-08-31 17:33] #491 closed

[2021-09-01 15:22] #495 closed

[2021-09-01 17:25] nbusseneau commented on #367
Following discussion in community meeting:
- Try switching to `one.one.one.one` first, then:
  - If it works, evaluate moving to a HA system (e.g. a DNS zone hosted at major provider)
  - If it does not work, then the external service is surely not the problem and we should look at CoreDNS:
    - DNS visibility annotation?
    - CoreDNS logs?
    - Alpine issue? https://stackoverflow.com/questions

[2021-09-01 17:27] nbusseneau commented on #361
Closing since we disabled the ipcache check in the CLI.
If we see flakes around ipcache issues then we can continue investigating and revisit implementing the ipcache check again.

[2021-09-01 17:27] #361 closed

[2021-09-01 17:45] michi-covalent commented on #367
thanks @nbusseneau

i opened a draft pr to bring back dns visibility annotation https://github.com/cilium/cilium-cli/pull/510 hoping to hit the flake and get some more information about what's failing 👀

[2021-09-01 18:16] michi-covalent commented on #367
another thing we could try is to use non-alpine image 👀  cc @ldelossa
[code]

[2021-09-01 20:25] tklauser opened #512 "Add windows/arm64 support"
Go 1.17 supports building for `windows/arm64`, however the build for that platform currently fails:

[code]

Also see https://github.com/go-ole/go-ole/issues/216 and https://github.com/go-ole/go-ole/pull/217.

Once that is resolved/merged and we updated the vendored copy of go-ole, we should be able to provide `windows/arm64` release binaries.

[2021-09-01 21:05] tklauser commented on #406
I think this should work now that we have `--version` and `--base-version`, i.e. we can specify the commit SHA with `--version` and set the corresponding Cilium version with `--base-version`.

Feel free to reopen or comment here if you think this isn't working as intended.

[2021-09-01 21:05] #406 closed

[2021-09-02 16:04] ldelossa commented on #367
I went down the rabbit hole on this.

I'm attching two pcaps which demonstrate the issue when curl hangs.

The relevant summary from this pcaps follows:

Successful DNS requests utilize the `/etc/resolv.conf`resolver:
[code]

In the pcaps you'll see successful DNS request flows with `10.155.240.10` as src or destination.

When curl begins to hang, you'll see that the return traffic for a DNS reque

[2021-09-02 19:14] ldelossa commented on #367
I can now readily reproduce this.

The CT map has a dynamic garbage collection interval. If you want long enough you'll see the CT map garbage collection get sufficiently large.

[code]

Once this happens, you can begin spamming the container with the same curl commands which fail in the test

[code]

Doing this from a few shells will begin to pack the CT map with out going CT entries for the kube

[2021-09-03 00:14] ldelossa commented on #367
I was able to confirm this behavior even easier by setting the `ct` map size to 2048 in the cilium config map.

Once we hit enough nat entries we see the demonstrated behavior.

The outstanding question is whether we are evicting records erroroneously from the `ct` table or from the `nat` table.

Once this is determined the immediate fix to to allocate more space to nat related bpf maps in CI.

A

[2021-09-03 07:52] rolinh opened #515 "Enabling Hubble using the Cilium CLI doesn't work if Cilium was installed via Helm"
The `helm install` method creates a CA for Hubble/Hubble Relay named `hubble-ca-secret`.  This CA is different than the one used for ClusterMesh. On the other end, when installing Cilium using the CLI, the same CA is used for both ClusterMesh and Hubble. As reported by [this user](https://github.com/cilium/hubble/issues/599#issuecomment-910371952), this means that when using `cilium hubble enable`

[2021-09-03 10:05] kaworu commented on #515
My two cents:

I think we should go the cilium cli way, i.e. one CA shared for Hubble and ClusterMesh (and anything internal to Cilium). It's simpler that what we currently do through Helm/certen (i.e. two different CAs) and moreover all the certs are for the internal `$something.cilium.io` so it's unusual to have two CAs responsible for the same domain, if that make sense.

[2021-09-03 13:19] nbusseneau commented on #367
Oh look, it still happens with `one.one.one.one`! I think we might be having a different issue 🙃
[code]

[2021-09-03 14:29] pchaigno commented on #367
KPR is disabled in those failing tests since we disable it by default for CLI installations, no? I don't understand why our BPF CT logic & map would impact the reverse DNAT performed by netfilter; those are two separate things. What am I missing?

[2021-09-03 15:31] michi-covalent commented on #367
yeah i don't think the issue is with the server, curl is failing to resolve dns names 😞 posting the link as a reference: https://github.com/cilium/cilium-cli/runs/3506288294?check_suite_focus=true#step:11:2480

[2021-09-03 16:42] ldelossa commented on #367
I was under the impression that, even with KPR disabled, bpf_lxc still performs pod <> service translation and places CT and Nat entries into the appropriate bpf maps.

Pretty sure you can set ct/nat map sizes to some hard coded low value, fill then up, and then this flake issue will begin to show itself.

[2021-09-03 16:55] pchaigno commented on #367
Ah right, only for ClusterIP services IIRC which is the case here :+1:

[2021-09-03 22:06] joestringer opened #517 "Collect LocalRedirectPolicy objects"
We should collect LRPs from the cluster as well, if any.

[2021-09-08 08:42] brb commented on #367
This should not happen, right?

The BPF NAT map should not be involved in this case (i.e., ClusterIP via bpf_lxc), only the BPF CT map.

[2021-09-08 12:08] ensonic commented on #300
`cilium hubble enable --create-ca` does the trick, but is a bit silly. Shouldn't this be just automatic or at least mentioned in the docs since otherwise it will initially fail for *everyone*.

[2021-09-08 12:10] pchaigno commented on #300
As Sebastian said, we could detect the CA and automatically enable the flag. We'd welcome a pull request implementing this approach.

[2021-09-08 12:19] tklauser commented on #329
It looks like this flake hasn't been observed since #353 was merged. Thus closing this issue. Please comment/reopen in case you encounter the flake again.

[2021-09-08 12:19] #329 closed

[2021-09-08 20:19] ldelossa commented on #367
that's correct. but I didnt know this at the time. netfilter rules are never hit and I confirmed this (translation happens in bpf_lxc and hops over netfilter)

[2021-09-09 07:17] tklauser commented on #399
Hit by multicluster test in #529, though on `no-policies/pod-to-service/curl-0`, not `allow-all/pod-to-service/curl-2`: https://github.com/cilium/cilium-cli/runs/3547587561?check_suite_focus=true

[2021-09-09 15:41] #263 closed

[2021-09-10 11:33] errordeveloper commented on #355
I'm seeing this on GKE also: https://github.com/cilium/cilium/runs/3557961582?check_suite_focus=true

[2021-09-13 15:55] pchaigno opened #535 "Collect CiliumEgressNATPolicies in sysdump"
We should collect CiliumEgressNATPolicy resources in the sysdump, for the egress gateway.

[2021-09-14 09:10] gandro commented on #300
Also note, if cilium is installed via `cilium install`, then `--create-ca` is should not be necessary. To my knowledge, the case where the certificate is missing happens when Cilium was installed via Helm. We still highly recommend also enabling Hubble via Helm instead of via Cilium CLI if Helm is involved, as mixing the two approaches will likely confuse Helm as well.

[2021-09-14 11:09] ensonic commented on #300
I did install via helm and hubble was supposed to be enabled (it's the default), but the cert was missing (I found out from the logs).  the relay and the ui is off by default, I'll try that now.

[2021-09-15 01:14] Erisa commented on #512
Hi just to let you know, this issue was fixed in https://github.com/go-ole/go-ole/commit/8b1f7f90f6b1728609c9694f2cff140d34fd91f8, just not tagged to a release/version yet.

[2021-09-15 12:33] tklauser opened #545 "CI: Error waiting for service cilium-test/echo-other-node"
Seen on #540

[code]

https://github.com/cilium/cilium-cli/runs/3600185399?check_suite_focus=true
[sysdump](https://github.com/cilium/cilium-cli/files/7170015/cilium-sysdump-out.zip.zip)

[2021-09-15 12:34] tklauser commented on #545
Duplicate of #342

[2021-09-15 12:34] #545 closed

[2021-09-15 12:34] tklauser commented on #342
Seen on #540 as well.

https://github.com/cilium/cilium-cli/runs/3600185399?check_suite_focus=true
sysdump: https://github.com/cilium/cilium-cli/files/7170015/cilium-sysdump-out.zip.zip

[2021-09-15 12:47] tklauser commented on #512
Thank you for the update @Erisa!

[2021-09-15 15:22] gandro commented on #342
Looking at the code that checks for the service, it seems to perform an `nslookup` on the service name to check. For some reason, that nslookup does not succeed.

A few thoughts about this:

- Should we enable `--debug` to log the error returned by nslookup? Can we do that in a test PR or do we need to do this globally?
- Can we collect coredns logs to check if coredns ever set up the service corr

[2021-09-15 16:05] michi-covalent commented on #342
for some reason `nslookup -debug` always exit with a non-zero return code 😐

sure, should this be a part of sysdump?

yeah that's possible.

[2021-09-15 16:12] gandro commented on #342
Ah, I was actually thinking about running `cilium connectivity test --debug`, as it will give us the contents of stderr of nslookup. But it will make the test output a bit more noisy.

Probably. But I am a bit unsure about making this the default. While clearly useful in many contexts, coredns is not really Cilium related. Maybe add a `--capture-logs` option that collects logs for pods that match

[2021-09-15 16:20] ldelossa commented on #367
@joestringer @michi-covalent and I did some further debugging.

When DNS fails we see the return all the way up to the pod.

# client pod failed dns request (no additional tcpdump output)
[code]

# kube-dns receit of traffic and response
[code]

# eth0 (LAN interface) of k8s node hosting client pod
[code]

The above tcp dump shows a proof that the dns traffic gets all the way back to the LAN inter

[2021-09-15 16:41] tklauser commented on #342
I think it should already be the case that we run connectivity tests with `--debug`, see #409. Might have missing some jobs though :thinking:

[2021-09-15 16:45] gandro commented on #342
Ah! Yes, you are correct. I was hitting and debugging this issue in `cilium/cilium` which does not have debug logs, but we do have some traces from `cilium/cilium-cli` with the error message. In that case no action needed regarding that point, we already do have the stderr (from https://github.com/cilium/cilium-cli/issues/342#issuecomment-919978939):

[code]

Not sure where that `^C` comes from :t

[2021-09-15 17:23] pchaigno commented on #367
I looked a bit into this. I used a recent failure to investigate: https://github.com/cilium/cilium-cli/runs/3583946569?check_suite_focus=true.

That test fails, ending with the below packet trace:
[code]
Notice the unexpected `to-proxy` trace (noticed by Louis before).

The dumps of `cilium bpf policy get --all` in both bugtools do not show any rule with proxy redirects. So the datapath should hav

[2021-09-15 23:13] ldelossa commented on #367
@pchaigno

Looking over my logs.

# test failure
[code]

# client dns failure (no return traffic)
[code]

# monitor logs
[code]

I see no mention of any redirect policy being applied to the failing outbound traffic identifiable by source port 52344

[2021-09-16 07:19] pchaigno commented on #367
I see no mention of *any* policy-verdict for 10.152.2.203:52344, so it probably happened *before* you started `cilium monitor`.

[2021-09-16 09:32] gandro commented on #342
So turns out this is the context cancellation (i.e. the timeout being hit, and we send a CTRL+C to terminate nslookup). So apparently nslookup timed out because it never received an answer (i.e. no NXDOMAIN, which I would expect).

From the client pod, we see a bunch of unanswered DNS queries leave:
[code]

I don't see any of these DNS packets arrive on the other node (where `kube-system/kube-dns-

[2021-09-16 11:49] ldelossa commented on #367
@pchaigno that monitor output command was running before i invoked the connectivity tests. There are entries in there which include source ports before and after the failed requests.

[2021-09-16 12:07] pchaigno commented on #367
Did the client pod exist before you invoked the connectivity tests? (That is, was it the first time you invoked the connectivity tests?) If it did exist, then the connection could predate the connectivity tests startup.

[2021-09-16 12:58] ldelossa commented on #367
Good point, in order to reproduce easily the entire testing deployment remains in existence.

[2021-09-20 10:30] tklauser opened #554 "CI: multicluster fails when creating gcloud-free kubeconfig for cluster 1"
Observed on https://github.com/cilium/cilium-cli/pull/553, see https://github.com/cilium/cilium-cli/runs/3650339141?check_suite_focus=true

[code]

`io/fs` was added in Go 1.17, so it looks like that job is using somehow an older Go version (but not consistently, it seems).

It looks like that step is using `go run` but doesn't explicitly install it in a previous step like other jobs using `go`:

[2021-09-20 11:36] #554 closed

[2021-09-20 13:38] pchaigno commented on #367
### Root Cause Analysis

From https://github.com/cilium/cilium-cli/issues/367#issuecomment-920218323, one hypothesis we had is the following sequence of events:
1. L7 policies are applied, causing redirections to the userspace proxy.
2. A UDP connection is established with source port X and the CT map tracks it.
3. L7 policies are removed, so redirections to the proxy shouldn't happen anymore.
4.

[2021-09-20 14:19] ldelossa commented on #367
@pchaigno Do we actually see this issue in the wild ?

I'd like to consider whether this is just an issue during our tests or if we think users of Cilium will suffer from this.

Do we believe users will be churning network policies as often as our automated test suite does?

I ask because there are several trivial fixes we can implement today in our testing suite to solve this.

[2021-09-20 14:38] pchaigno commented on #367
I doubt many users hit this in production, but we want the connectivity tests to work for users as well as our CI. As you've seen locally, anyone running the connectivity tests can hit this today, not only our CI.

[2021-09-20 14:46] ldelossa commented on #367
Makes sense.

We could experiment with increasing the source port range in our test runner - I am not sure right now if this is enforced by he host or if we can modify this via pod Spec.

We could also test whether forcing non-l7 tests to always run before l7 tests fixes the issue. This however, may still demonstrate the issue just in the opposite direction.

[2021-09-21 08:47] tklauser commented on #355
Seen on #556: https://github.com/cilium/cilium-cli/pull/556/checks?check_run_id=3657524522

[2021-09-22 09:24] #535 closed, assigned to nobody

[2021-09-23 09:09] pchaigno commented on #367
I've performed evaluations of the different mitigations, by running the connectivity tests a hundred times:

| Mitigation | Rate of failures |
|--------------|----------------------|
| No mitigation | 49/100 |
| `conntrack-gc-interval=1m` (defaults to 5m) | 16/100 |
| `conntrack-gc-interval=30s`, `bpf-ct-timeout-regular-any=30s` (defaults to 1m) | 1/100 |
| Reordering tests | 0/100 |

Reordering t

[2021-09-23 14:08] #367 closed

[2021-09-23 14:21] ldelossa commented on #367
@pchaigno - this is closed but I think we should track a "long term fix" ticket, what do you think?

[2021-09-23 14:43] pchaigno commented on #367
The issue uncovered by these flaky tests is now tracked at https://github.com/cilium/cilium/issues/17459.

[2021-09-29 18:50] othmane399 commented on #300
Hello, Any updates about this issue ?

[2021-10-01 09:07] tklauser commented on #489
@pchaigno are you still seeing this issue? I quickly checked with `azure-cli` 2.28.0 on my machine and the `--only-show-errors` flag is still present and is documented in `az version --help`:

[code]

Might have been a temporary issue with `az` version 2.0.81 that you were using?

[2021-10-01 09:09] pchaigno commented on #489
I updated as well and not seeing this issue anymore, so I think you're right. Not sure what they messed up in `az` :shrug:

[2021-10-01 09:09] #489 closed

[2021-10-01 09:10] tklauser commented on #515
Related: #300

[2021-10-01 09:16] tklauser commented on #389
Related: #164

[2021-10-01 17:29] vincentmli opened #565 "cilium cli upgrade breaks eks anywhere"
Hi,

I am testing eks anywhere with cilium integration, eks anywhere deployed cilium 1.9.10, but I want to upgrade cilium to newer version, ran cilium cli upgrade in  https://github.com/aws/eks-anywhere/issues/362#issuecomment-932395310, it appears breaking the cluster network as I was unable to get k8s API response from kubectl command.

wonder if this is related to kind that eks anywhere is usin

[2021-10-01 18:29] vincentmli commented on #565
shot in the dark, wonder if this is in same area of issue that  https://github.com/cilium/cilium/pull/17513 is addressing or have already addressed in most recent cilium

[2021-10-05 08:33] #164 closed

[2021-10-05 08:33] #389 closed

[2021-10-05 16:52] wazir-ahmed opened #569 "Service load-balancing not working in external workloads"
### Problem
The external workload script generated by Cilium CLI (`cilium clustermesh vm install <file-name>`), does not handle the fact that recent versions of docker creates a new cgroup namespace for the containers. Because of this, bpf programs responsible for service load-balancing are getting attached in the container's cgroup, instead of host's root cgroup and the service load-balancing in

[2021-10-06 14:25] weizhouBlue commented on #300
also report same error when "cilium clustermesh enable"

[2021-10-06 15:03] aditighag commented on #569
Per the Slack thread, this seems to be a dup of https://github.com/cilium/cilium-cli/issues/256 as you mentioned that the clustermesh script uses cilium CLI to install cilium underneath.

[2021-10-06 15:05] aditighag commented on #256
Let's separate the bpf mount changes from this issue - @aanm Feel free to create a new issue.

[2021-10-06 15:21] aditighag commented on #569
@wazir-ahmed brought this issue in the community meeting, and he said he'll be contributing a PR. Sorry for the confusion as I misinterpreted your comment when you said that the script uses the CLI to install cilium.

[2021-10-06 16:05] wazir-ahmed commented on #569
[current-cew-script.txt](https://github.com/cilium/cilium-cli/files/7295545/current-cew-script.txt)

This is a sample script file generated by `cilium clustermesh vm install <file-name>`.

[2021-10-06 16:08] wazir-ahmed commented on #569
The script generated by the CLI needs to incorporate the following changes.

[code]

[2021-10-08 12:12] weizhouBlue opened #577 "cilium hubble enable does not install hubble-ui"
cilium version: 1.10.4
k8s version: 1.22.1
cilium cli: v0.9.1

"cilium hubbel disable" will uninstall  hubble-ui and  hubble-relay . Why "cilium hubbel enable" just install hubble-relay but not include  hubble-ui
[code]

[code]

[2021-10-11 11:05] aanm opened #580 "Add support for Cilium to be installed on a Cluster API-managed"
See Scott's [blogpost](https://blog.scottlowe.org/2021/10/07/installing-cilium-via-clusterresourceset/) for the tutorial, it should be relatively easy to add support for an automatic installation by detecting this cluster type.

[2021-10-19 13:56] nbusseneau opened #589 "install: allowing `install` over interrupted previous installation"
## Bug report

If `cilium install` is abruptly interrupted while in progress, the [rollback code](https://github.com/cilium/cilium-cli/blob/bcc992b93cce627c4505de25cbb207164b90390c/install/install.go#L1717-L1727) does not have a chance to run and there are leftover resources.

One solution could be to have `cilium install` be more lenient with existing resources and accepting them as-is or editing

[2021-10-25 18:14] soroshsabz opened #594 "cilium connectivity test check enough resource before starting deployment"
ITNOA

## Proposal / RFE

As you can see in [systemd 245 breaks cilium pod to out-of-node traffic](https://github.com/cilium/cilium/issues/10645) If cilium try to connectivity test, without have worker node on K8s, these test was reject with meaningless timed out error message.

**Is your feature request related to a problem?** yes

**Describe the solution you'd like**

My solution is `cilium conn

[2021-11-02 16:33] michi-covalent opened #600 "CI: Multicluster: flow validation failures in no-policies/pod-to-service/curl-0"
## CI failure

this is similar to https://github.com/cilium/cilium-cli/issues/419, but in this case, only the initial SYN from the client to echo-other-node is observed, and nothing else.

- Copy-paste the output the test failure.

[code]

- Upload the zip file generated from that test failure.

[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium-cli/files/7462430/cilium-sysdump-out.zip.

[2021-11-03 09:10] tklauser commented on #600
Hit in #602: https://github.com/cilium/cilium-cli/runs/4090202393 ([sysdump](https://github.com/cilium/cilium-cli/files/7466383/cilium-sysdump-out.zip.zip))

[2021-11-05 19:29] ldelossa opened #608 "Begin warning on use of "--config" flag"
I ran into an interesting scenario the other night:

I was using the "--config" flag to set IPAM mode.

When using this flag the cilium CLI cannot known to fix-up any stale entries in the cilium-config config-map. Subsequently it left cluster-pool flags in the config even tho the kubernetes IPAM mode was configured.

In this instance, it was benign and no harm was done. However it's not a large st

[2021-11-08 09:40] pchaigno commented on #608
Shouldn't we also fatal in the agent if we have conflicting flags like this?

[2021-11-08 16:19] ldelossa commented on #608
@pchaigno - not exactly sure, we probably setup the code in a "feature flag" fashion where extraneous flags are ignored if some top level flag is not defined (like x.mode = ).

[2021-11-08 16:42] pchaigno commented on #608
Yep, but if this config. results in a broken cluster, we should check the options and fatal if they're not compatible.

[2021-11-08 20:40] ldelossa commented on #608
@pchaigno agreed, it did not wind up creating a broken cluster (just for full context), but I agree with your sentiment regardless.

[2021-11-15 12:38] smira commented on #505
Looks like this might be related: https://github.com/cilium/cilium/issues/17883

[2021-11-18 16:58] bmcustodio opened #616 "Bugtool output truncated or absent from sysdump"
Sometimes sysdumps will be either entirely missing a given `cilium-bugtool-*` tar file, or contain an incomplete one. It's unclear if this is the same issue or two different ones, but one of them has been observed to be caused by an `unexpected EOF` error that also happens during `kubectl cp` (which is the same mechanism used to transfer the bugtool tar from the Cilium pods to the local machine):

[2021-11-21 12:17] brumhard opened #617 "Error on `cilium context` when `$KUBECONFIG` requires root privileges"
## Bug report

Hi I'm having issues to install cilium on a k3s node.
By default, the kubeconfig in `/etc/rancher/k3s/k3s.yaml` is created with `700` permissions.
That's why for running stuff like `kubectl` it's required to run with `sudo`, which works perfectly fine in the case of `kubectl`.
`cilium context/install` on the other hand won't work like this.
I know a simple workaround would be changi

[2021-11-21 15:00] brumhard opened #618 "Make internal k8sInstallerImplementation implementation public."
## Proposal / RFE

I'd like to embed the cilium installation into another application. Currently, the codebase and packages are really nicely decoupled into packages for general use and the "transport layer" with the CLI which only constructs the needed clients and calls functions (e.g. `Install()`) on them.
That way it should be fairly easy to reuse that.

The only thing missing is a public reusa

[2021-11-22 14:03] tklauser commented on #617
Thanks for your report @brumhard.

Is `$KUBECONFIG` set in root's environment? I think in the command you posted involving `$KUBCONFIG`, the variable is evaluated before running `sudo`. By default, environment variables are not inherited when using `sudo`, so I assume `$KUBECONFIG` to be empty when you run `sudo cilium context`. Does it work if you run `cilium` using `sudo KUBECONFIG=$KUBECONFIG c

[2021-11-23 08:25] bmcustodio opened #622 "Remove AWS' iptables rules"
We need the CLI equivalent of https://github.com/cilium/cilium/pull/16840 and https://github.com/cilium/cilium/pull/17845.

[2021-11-24 14:31] lizrice opened #628 "cilium CLI installs hardcoded, old version of Hubble UI"
`cilium hubble enable --ui` installs a hard-coded version v0.7.9 of the Hubble UI ([here](https://github.com/cilium/cilium-cli/blob/79f04377d5b93586a822902d54aa0116d592f253/hubble/ui.go#L191)) for the hubble-ui container image, and similarly for the hubble-ui-backend image.

Would be better if this was handled like other components, and if the user could override the version number.

[2021-11-25 15:13] nbusseneau opened #631 "CI: `pod-to-remote-nodeport` and `pod-to-local-nodeport` failing in clustermesh"
The `pod-to-remote-nodeport` and `pod-to-local-nodeport` tests are consistently failing in clustermesh configuration. This can be easily reproduced either with a local Kind clustermesh or with a GKE clustermesh (as in our CI).

<details><summary>Log output</summary>

[code]
</details>

In CI, we have had these tests disabled since practically forever (see 68c0025af2d5dd13f916eb28a4c348cd64127347).

[2021-11-25 21:02] brumhard commented on #617
Hi @tklauser,
thank you very much. I knew it would be some stupid shell mistake 😄
Worked as expected with your proposals 👍🏻

[2021-11-25 21:02] #617 closed

[2021-11-26 18:15] tklauser commented on #600
Hit in #632 on multicluster: https://github.com/cilium/cilium-cli/runs/4335435504?check_suite_focus=true

[2021-11-27 23:40] soggiest commented on #300
I ran across the `cilium hubble enable` CA missing issue as well.

I've filed this [PR](https://github.com/cilium/cilium-cli/pull/634) to allow `cilium-cli` to generate a CA if it is missing. Since we know that Hubble/Certmesh will break if the `cilium-ca` secret is missing, and we can determine whether it exists, it makes for a better user experience to automatically create it. This PR should als

[2021-12-01 11:09] mxdblcf opened #637 "Install"
why the cilium show  install successful ?
But    run " cilium connectivity test "    show fail.
Where should I look for errors?

[2021-12-01 11:31] pchaigno commented on #637
Please don't open duplicate issue on cilium/cilium and cilium/cilium-cli. Also, there isn't enough information here to help you debug. If you open an issue on cilium/cilium with all the required information, we'll likely be able to help.

[2021-12-01 11:31] #637 closed

[2021-12-01 17:09] nbusseneau opened #640 "ux: improve `cilium install`'s `wait` and `restart-unmanaged-pods` interaction"
## Context

For `cilium install`:

- `wait` defaults to `true`
- `restart-unmanaged-pods` to `true`
- But `--restart-unmanaged-pods=true` "implies" `--wait=true` behavior (this is expected because unmanaged pods can only be restarted after Cilium is ready):

https://github.com/cilium/cilium-cli/blob/c6ec394061fe01eeaef27d2d061d8b7b3db0626a/install/install.go#L1685-L1690

## Issue

Manually specify

[2021-12-03 13:09] #407 closed

[2021-12-03 13:10] tklauser commented on #600
Hit in #641: https://github.com/cilium/cilium-cli/runs/4408075744?check_suite_focus=true

[2021-12-03 13:38] #622 closed

[2021-12-07 14:30] #628 closed

[2021-12-07 14:31] tklauser opened #648 "Pin default image version with SHA256 sums"
_Extracted from https://github.com/cilium/cilium-cli/pull/645#discussion_r763852292_

It would be nice to pin SHA256 sums for all default image versions. Currently, we're only using tags which might change without us noticing.

The following images should be pinned using their respective SHA256 sum:

- [ ] quay.io/cilium/cilium,
- [ ] quay.io/cilium/operator-generic
- [ ] quay.io/cilium/operator-a

[2021-12-09 18:32] gandro opened #653 "sysdump: Support fetching DaemonSet with custom name"
Some users have Cilium deployed with a renamed DaemonSet. This causes the `Collecting the Cilium daemonset` step to fail:

[code]

Relevant source code:

https://github.com/cilium/cilium-cli/blob/1d30ccdf94437857f5393b526894e706faf82861/sysdump/sysdump.go#L403-L415

We should try to support this case, either

- Either by allowing users to specify the DaemonSet name via CLI flag,
- or by determinin

[2021-12-09 18:46] gandro opened #654 "sysdump bugtool download fails for large files"
For large bugtool output files downloading the file via `kubectl exec cat` seems to fail on some K8s apiserver instances:

[code]

The file was correctly created on the pod, and could be downloaded manually.

Instead of `cat`ing very large files, we should probably try to split the file into smaller chunks and download them individually (including potentially adding a retry logic). Legacy sysdump

[2021-12-09 22:05] pchaigno commented on #654
Duplicate of https://github.com/cilium/cilium-cli/issues/616?

[2021-12-09 22:52] michi-covalent commented on #654
@gandro just curious how did you download it manually? :eyes:

[2021-12-10 08:52] gandro commented on #654
I believe the user accessed the node via ssh and fetched it from the host namespace.

[2021-12-10 08:53] gandro commented on #654
Kind of. Seems to be a different symptom (here, unarchive fails, while in #616 it's the actual download that fails), but the end result and fix looks to be the same. I'll close this one.

[2021-12-10 08:53] #654 closed

[2021-12-10 08:54] gandro commented on #616
From #654

[2021-12-10 11:33] lizrice opened #657 "cilium hubble enable can get stuck if bad deployment of hubble relay already exists"
## Bug report

I have a cluster with a bad version of hubble-relay installed - it specifies an image for hubble-relay that doesn't exist, so the pod is stuck in ImagePullBackoff.

An attempt to upgrade with `cilium hubble enable --relay-image ...` fails, after a long long wait.

[code]

The problem is that it's waiting for a hubble-relay deployment that can never come up. In the [status collector]

[2021-12-13 09:06] gandro commented on #616
Another additional mitigation would be to gzip the bugtool output. It seems to reduce the tar archive ~9x.

[2021-12-17 17:15] #648 closed

[2021-12-20 09:23] damian-natzka opened #664 "Cilium service mesh installation fails "context deadline exceeded" on AKS"
## Bug report

Cilium installation fails inside the cluster.

Command issued:
[code]

**General Information**

- Cilium CLI version
[code]
- Azure AKS provisioned using terraform

[code]

**Error**
![image](https://user-images.githubusercontent.com/82033647/146742847-34074863-4cb6-4171-aef2-1e06b13da80d.png)

**Logs from operator**
[code]

**Logs from daemonset**
[code]

`kubectl describe pod core

[2021-12-22 16:09] jamesharr opened #669 "K3s support for cilium-cli"
## Proposal / RFE

**Is your feature request related to a problem?**

yes - we use k3s for an on-prem install and we'd like to use cilium as well. The documentation for installing cilium shows the CLI as the recommended way to install cilium, however the tool does not K3s as supported.

**Describe the solution you'd like**

Update documentation to reflect support. If needed, a note could be added

[2021-12-22 16:41] jamesharr commented on #669
I may have jumped the gun here, but it seems like `cilium-cli` might work just fine.

For some reason cilium-cli wasn't finding my cluster. I implemented a work-around using this.
[code]

[2021-12-22 17:12] jamesharr commented on #669
Yup, this was just my mistake - When I originally explored this, I had my `KUBECONFIG` set, but not exported, so cilium was never seeing it.

Is k3s officially supported? Maybe the main page of this project just needs to be updated?

[2021-12-22 21:21] tklauser commented on #669
Thanks for the report. I assume you followed the getting started guide from the Cilium docs: https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-default/?

Is there anything in the guide that you think needs correction or clarification?

As far as `cilium-cli` is concerned, k3s is supported but currently not covered by CI. Same for Cilium itself. We usually test some of these k8s distributi

[2021-12-22 23:08] jamesharr commented on #669
I got it working a little a bit before you responded, ty for taking a look.

[2021-12-23 03:52] sayboras commented on #616
I feel bugtool should support .tar.gz directly, currently bugtool only allows .tar or .gz. I can make changes in cilium repo, and then iwe can just upgrade bugtool in cilium-cli repo.

[2021-12-23 08:42] gandro commented on #616
Yes, agreed. We should teach the bugtool about .tar.gz, but we should also find a mechanism that improves the mechanism for older versions of Cilium too.

[2021-12-23 14:17] damian-natzka commented on #664
I tried to follow also the complete setup instruction with 2 nodepools for AKS (https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/#create-the-cluster), result is the same.

`kubectl describe pod coredns`
[code]

[2022-01-03 08:22] Demonsthere commented on #669
@jamesharr How exactly did you get it to work? I have been trying to install cilium via the cli on my k3d cluster the following way:

[code]

However, the cilium pod is stuck in init phase with

[code]

On the server node fs i can see that the mount point in mount exists and is ready to be used
[code]

[2022-01-03 10:19] jamesharr commented on #669
@Demonsthere , I was running k3s on top of Alma Linux 8.5 (CentOS clone) in a VM; not inside a container. Alma had bpfs mounted already.

I had tried installing Cilium on top of Alma inside an LXC container (via ProxMox VE) and something about BPFS inside a nested container just wasn't getting along. Unfortunately I didn't resolve it and didn't keep and notes because I figured that was probably a

[2022-01-03 11:19] Demonsthere commented on #669
I actually managed to get cilium working on my k3d cluster, but there are some rough corners:

 1. Create the cluster
[code]
2. Create the bpffs ahead of installing cilium:
[code]
3. Taint nodes
[code]
4. The funny part. Install cilium using helm with the following values, then wait for it to fail due to missing cgroupv2 mount and create that mount. We cannot create it beforehand, because cilium i

[2022-01-03 11:23] #669 closed

[2022-01-04 18:40] jerrac opened #673 "cilium connectivity test failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When running cilium connectivity test, several tests are failing. no-policies, client-egress-l7, and to-fqdns. They all fail due to curl exiting with a code 28.

The thing is, when I run a curlimages/curl container and run the commands listed in the test output (removing the -w, and --output fl

[2022-01-06 16:44] jerrac commented on #673
Thanks for the help so far. :)

After installing hubble, 11/11 tests fail...

Here is my output:

Installed hubble:

[code]

Ran connectivity test again:

[code]

If I run a curl container:

[code]

[2022-01-06 16:49] jerrac commented on #673
Oh, one other thought just occured to me. I'm running firewalld to manage iptables. I opened 8472/udp (from Cilium's docs if I recall correctly). As well as the ports listed here: https://kubernetes.io/docs/reference/ports-and-protocols/

Beyond that, doesn't Cilium just bypass iptables? Or did I miss something in the docs that I need to open?

[2022-01-06 17:13] christarazi commented on #673
It bypasses iptables fully if it has kube-proxy-replacemant=strict. See this [doc](https://docs.cilium.io/en/v1.11/gettingstarted/kubeproxy-free/#kube-proxy-hybrid-modes) for more details on that.

[2022-01-06 17:25] joestringer commented on #673
It looks like the test was unable to connect to Hubble, have you opened up Hubble in your firewall as well? https://docs.cilium.io/en/stable/operations/system_requirements/#firewall-rules

[2022-01-06 17:25] jerrac commented on #673
RE: https://github.com/cilium/cilium-cli/issues/673#issuecomment-1006760108

I installed Kubernetes via kubeadmn, then installed Cilium with `cilium install --config ipam=kubernetes`. From the doc you linked, it sounds like the default is `kubeProxyReplacement=probe`. Right?

And I do have kube-proxy pods running in my cluster.

So could firewalld be getting in the way?

[2022-01-06 17:55] joestringer commented on #673
In your original report, the failing tests were the following:

[code]

These are deploying pods with L7 policy applied and then attempting outbound connections. If you deploy a brand new container with different labels, then the L7 policy may not apply to those pods and that could explain a difference between your manual attempts vs. the `cilium connectivity test`.

In the latest run output you p

[2022-01-06 18:30] jerrac commented on #673
Ok, I have no idea how I missed that list of ports to open. I thought I had looked for a list like that... Sheesh. I've opened the ports in firewalld and ran a full cluster restart.

Anyway, something is still not working right. It can't connect to the hubble relay. I confirmed with nmap that port 4245 is open, even if nothing seems to be listening on it. Do I need to reinstall Hubble? How would I

[2022-01-07 17:14] #653 closed

[2022-01-10 12:38] mkilchhofer opened #677 "Support private registry for 'connectivity test' subcommand"
We install cilium with helm into our EKS clusters. Our networking setup prevents pulling images from registries other than private ECR and a custom artifactory mirror. This is due to caching and security reasons.

## Proposal / RFE

**Is your feature request related to a problem?**
The subcommand `cilium connectivity test` does not (yet) support a flag to override the registry.
When running the co

[2022-01-11 10:04] spotted-cat opened #676 "Redundant gzip compression blob in sysdump"
The blob of code here: https://github.com/cilium/cilium-cli/blob/1abe89f9b9e458870d608e7232199fe752de1596/sysdump/sysdump.go#L910 is redundant as bugtool already provides .tar.gz compression by passing the `--archiveType gz` flag

[2022-01-11 13:40] pchaigno commented on #677
I've transferred this feature request to the cilium/cilium-cli repository as it's about the CLI component.

[2022-01-11 16:37] jerrac commented on #673
Ok, so I tried following [these docs](https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/) to install a new cluster without kube-proxy and using `KubeProxyReplacement:   Strict` mode. I put this cluster on a couple new Ubuntu 20.04 vms hosted by my laptop. (Specifically using Vagrant boxes from generic/ubuntu2004.)

I also found the note in the requirements about Systemd 245 and needin

[2022-01-11 22:23] christarazi commented on #673
Are you able to narrow down the list of rules by inspecting the drop counters via `iptables-save -c ...`?

[2022-01-12 13:23] sayboras commented on #677
Should we have below flags ?

- curl-image
- curl-image-version
- json-mock-image
- json-mock-version

It's mainly for consistent purpose with other command (e.g. cilium install -h)

[2022-01-12 17:38] jerrac commented on #673
Does this help?

[code]
Apologies, my lack of in depth iptables experience is showing... :\

[2022-01-12 23:25] christarazi commented on #673
Yes, progress :). Can you correlate increments to the drop counters when you see the issue? Conversely if you take down firewalld, do these counters stay the same?

[2022-01-13 16:37] jerrac commented on #673
With firewalld enabled, before connectivity test:

[code]

With firewalld enabled, after test:
[code]
It sure looks like the `-A IN_public -j DROP` is dropping a lot of packets (the second number is how many are dropped, right?).

If I disable firewalld and restart the vms, this is what I see on the control plane:

Before the test:
[code]

After the successful tests with firewalld off:

[code]

If

[2022-01-13 18:54] jerrac commented on #673
I finally turned on logging in firewalld. What I'm seeing is interesting. Assuming I understand the logs correctly. I see a lot of traffic hitting the IN_public_DROP rule.

[code]
Where 192.168.121.222 is the cilium-* pod on the control plane, and 192.168.121.180 is the cilium-* pod on the worker node.

This just the normal traffic, not during a connectivity test. So I'm not sure this is directly

[2022-01-18 01:36] christarazi commented on #673
@jerrac I'm not familiar with firewalld, but some searching led to https://firewalld.org/2018/12/rich-rule-priorities which seems quite relevant to you.

[2022-01-21 17:20] jerrac commented on #673
Hmm... Rich rules might be one way to get around things, but I haven't done anything with them before...

I did find this comment in firewalld's issue queue: https://github.com/firewalld/firewalld/issues/767#issuecomment-790687269 That led to me adding cilium_host, cilium_net, and cilium_vxlan to the trusted zone. After restarting everything, the connectivity tests all passed just fine. :\

That m

[2022-01-25 12:44] seimic opened #689 "CLI doesn't upgrade clustermesh-apiserver..."
Hi,

not sure if this is correct but I wonder a bit because of the results of an upgrade from 1.10.5 to 1.10.7.
The upgrade didn't touch the clustermesh-apiserver at all. Do I need to reinitialize the clustermesh
after upgrades?

Versions:
- cilium-cli: v0.10.1 compiled with go1.17.6 on windows/amd64
- cilium image (running): v1.10.7

Status (image versions) after upgrade from 1.10.5 to 1.10.7:
[c

[2022-01-25 15:45] tklauser commented on #689
Thanks for the report @seimic. Indeed it looks like currently `cilium upgrade` will only upgrade the `cilium` DaemonSet and the `cilium-operator` Deployment. I think the command should also check whether `clustermesh-apiserver` and/or `hubble-relay` are installed and need to be upgrade.

Possibly also related: #190, #260

[2022-01-27 16:28] youssefazrak opened #692 "Cli 0.10.1 breaks the parsing for specific images."
## Bug report

**General Information**

When enabling Hubble with the specific Service Mesh beta images, the parsing of the image name is failing and thus causing the `hubble-relay` pod being not deployed.

This is a regression from `0.10.0` where it works.

- Cilium CLI version (run `cilium version`): 0.10.1

**How to reproduce the issue**

- Install lastest 0.10.1
- Follow the [service mesh beta

[2022-01-27 17:06] vosdev opened #693 "Upgrade is allowed to start while config is not valid with newer version"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)
Kubeadm cluster on Ubuntu 20.04 HWE kernel `5.13.0-27-generic`
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and

[2022-01-28 17:03] #692 closed

[2022-01-28 21:53] asloan7 opened #696 "cilium install fail on k3s ubuntu - Cluster name "" is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Can't install cilium on brand new ubuntu 20.04 with k3s
Following this https://docs.cilium.io/en/v1.10/gettingstarted/k3s/

First, with no CNI, node is not ready
kubectl get nodes
NAME                                 STATUS     ROLES                       AGE   VERSION
corti2623-awse1pi-1d.cort

[2022-01-29 05:15] rolinh commented on #696
I transfered it ;)

[2022-01-29 13:29] asloan7 commented on #696
Thanks!

[2022-01-29 17:38] itomsawyer commented on #696
+1 , stuck into the same situation.

vagrant
debain11
k3s (v1.22.5+k3s1)
Cilium version "-service-mesh:v1.11.0-beta.1"

[2022-01-30 00:50] itomsawyer commented on #696
Found workaround solution:  add options  --cluster-name default  to explicit specify the cluster name.

[2022-01-31 11:17] tklauser commented on #696
@asloan7 @itomsawyer What version of cilium-cli are you using (`cilium version`) when you observe this issue? How does the `contexts` section in your kubeconfig (`/etc/rancher/k3s/k3s.yaml`) look like?

[2022-01-31 15:20] asloan7 commented on #696
@itomsawyer how are you installing k3s?

[2022-01-31 16:14] tklauser commented on #696
@asloan7 Does it work if you specify `KUBECONFIG` as instructed in the [quick start guide](https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-default/), i.e. `KUBECONFIG=/etc/rancher/k3s/k3s.yaml cilium install`?

[2022-01-31 16:23] tklauser commented on #696
FWIW, the fact that `KUBECONFIG=/etc/rancher/k3s/k3s.yaml` is needed for `cilium install` to work on k3s is documented in the quick start guide, but not the [k3s-specific guide](https://docs.cilium.io/en/v1.11/gettingstarted/k3s/). I'll send a fix for the latter

[2022-01-31 16:29] asloan7 commented on #696
Ah yes I missed that, unless cilium-cli can detect it is a k3s install (unreasonable to ask) it wouldn't know where that is. And yes I was reading https://docs.cilium.io/en/v1.11/gettingstarted/k3s/
Also did not need --cluster-name default

[2022-01-31 16:37] asloan7 commented on #696
@tklauser  Better to export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
So all subsequent cilium commands work, like cilium status --wait

[2022-01-31 17:19] tklauser commented on #696
@asloan7 That's a good point, thanks for the suggestion. I'll send a follow-up doc change.

[2022-01-31 19:38] samcday opened #697 "client-egress-to-entities-world (and others) NetworkPolicy DNS selector label making assumptions"
## Bug report

**General Information**

The various egres-related connectivity tests [explicitly allow DNS traffic to `k8s-app: kube-dns` in kube-system](https://github.com/cilium/cilium-cli/blob/c098e6d3878b6e29646ffb019cc45dec509a109b/connectivity/manifests/client-egress-to-entities-world.yaml#L20)

In our case, we're using the official CoreDNS Helm chart to deploy CoreDNS. They've opted to [set

[2022-02-01 19:37] asloan7 commented on #696
@tklauser there is also a discrepancy between the 2 pages with the flag "disable-network-policy" - do we need it?

(k3s tab) https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/
curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC='--flannel-backend=none' sh -

https://docs.cilium.io/en/stable/gettingstarted/k3s/#k3s-install
curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC='--flannel-bac

[2022-02-02 00:29] christarazi commented on #342
I incorrectly thought https://github.com/cilium/cilium-cli/pull/695 would fix this flake. I don't see us hitting this flake much anymore though. Could we close this issue?

cc @nbusseneau

[2022-02-02 06:56] sayboras commented on #616
Fixed as part of https://github.com/cilium/cilium-cli/pull/671. I am closing this issue, we can re-open if it is still happening.

[2022-02-02 06:56] #616 closed

[2022-02-02 08:21] tklauser commented on #696
@asloan7 yes, the `--disable-network-policy` flag should appear in both places. This is already fixed in `master` branch (see https://docs.cilium.io/en/latest/gettingstarted/k8s-install-default/) and will be fixed in the v1.10 and v1.11 docs once cilium/cilium#18671 is backported to these branches (presumably some time later this week).

[2022-02-02 08:28] #697 closed

[2022-02-04 14:48] tklauser commented on #696
The docs were changed to mention `export KUBECONFIG=/etc/rancher/k3s/k3s.yaml` in the k3s-specific guides, see https://docs.cilium.io/en/latest/gettingstarted/k3s/ and https://docs.cilium.io/en/latest/gettingstarted/k8s-install-default/ (k3s tab). As mentioned above, it might take a while for the doc changes to be backported to the v1.10 and v1.11 docs.

I think this should solve the issue origina

[2022-02-04 14:48] #696 closed

[2022-02-05 10:13] life1347 commented on #427
Hello, I also encountered this problem. Is there any chance to get this fix?
BTW, is there any cluster mesh setup guide with helm? Thanks

[2022-02-10 15:39] ysicing opened #711 "uninstall may not cleanup old crd resources"
## Bug report

**General Information**

[code]

**How to reproduce the issue**

I adjusted the CRDR of pod and found that it could not be changed, then uninstalled it and found that it was the same, and finally found that it was caused by the CRD resource created the first time

[code]

[2022-02-11 01:20] ysicing commented on #711
@aanm

[code]

[2022-02-11 01:24] aanm commented on #711
Ok in that case I could see that `cilium uninstall` should have deleted all resources. Feel free to submit a PR that adds a flag `cilium uninstall --all` that removes all CRDs deployed in the cluster.

[2022-02-11 01:40] ysicing commented on #711
Ok，I'll try to submit a PR

[2022-02-11 02:27] michi-covalent opened #712 "CI: look into aks failures"
it's been disabled because it's broken :neutral_face:  https://github.com/cilium/cilium-cli/actions/workflows/aks.yaml

[2022-02-15 10:25] #455 closed

[2022-02-17 10:22] borkmann commented on #351
@tklauser could you or @sayboras take a look? Thx

[2022-02-17 23:17] pchaigno opened #716 "connectivity: Start with initial DNS check"
When basic connectivity across nodes is not working, the connectivity tests often fail with:
[code]
This is because DNS resolution doesn't work.

We could do a better job at highlighting the actual issue here, rather than sending a rather cryptic message.

[2022-02-23 16:32] michi-covalent commented on #712
follow up:

- create a new CLI.
- latest master breaks <1.11 installation.

[2022-02-23 18:28] joestringer opened #719 "Cilium connectivity check broken with Cilium 1.10 or earlier"
[code]

[2022-02-23 19:07] michi-covalent commented on #712
tracking cilium-cli release in https://github.com/cilium/cilium-cli/labels/release-blocker%2Fv0.10.4

[2022-02-24 00:32] #719 closed

[2022-02-24 13:03] dosmanak opened #723 "ClusterName lowercase transformation"
kubeconfig cluster.name can contain uppercase.

https://github.com/cilium/cilium-cli/blob/e7035487d5b3675c3a6876369a4dbf11b57dba2e/install/autodetect.go#L33 forces it does not.

From the error it is not clear why the clustername must be lowercase and what is the purpose.
Since there is some transformation already at https://github.com/cilium/cilium-cli/blob/e7035487d5b3675c3a6876369a4dbf11b57dba2e

[2022-02-24 13:06] dosmanak opened #724 "Transform autodetected cluster name to lowercase"
kubeconfig cluster.name can contain uppercase.

https://github.com/cilium/cilium-cli/blob/e7035487d5b3675c3a6876369a4dbf11b57dba2e/install/autodetect.go#L33 forces it does not.

From the error it is not clear why the clustername must be lowercase and what is the purpose.
Since there is some transformation already at https://github.com/cilium/cilium-cli/blob/e7035487d5b3675c3a6876369a4dbf11b57dba2e

[2022-02-24 13:14] dosmanak commented on #724
Maybe also fix the documentation
https://github.com/cilium/cilium-cli/blob/master/internal/cli/cmd/install.go#L51
with "Used for clustermesh is enabled" is that is true

[2022-02-24 13:14] dosmanak commented on #723
github timed out, so I created duplicity, sorry

[2022-02-24 13:14] #723 closed

[2022-02-27 09:23] gitsmiles opened #727 "cilium install fail on k3s ubuntu - Unable to get or create the Cilium CA Secret"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip: `cilium sysdump`

**How to reproduce the issue**

1. ins

[2022-02-28 09:13] tklauser commented on #727
When using `sudo`, the environment variables (namely `KUBECONFIG`) of the calling won't be preservent . I think you either need to use `sudo -E cilium install` to keep the environment variables or use `cilium install` without `sudo`.

[2022-02-28 10:46] tklauser commented on #351
Should be fixed by #728

[2022-02-28 14:10] #351 closed

[2022-03-01 06:41] xcloudx87 opened #731 "Set k8sServiceHost and k8sServicePort with kubeproxy-free mode"
## Proposal / RFE
Able to set k8sServiceHost and k8sServicePort with kubeproxy-free mode.

**Is your feature request related to a problem?**
I saw that we had feature to disable kubeproxy-free but didn't see option to set k8sServiceHost and k8sServicePort  when using cilium CLI. How to get it work with CLI? Otherwise we will need to use helm to install Cilium without CLI.

**Describe the solution

[2022-03-01 19:54] jtaleric opened #734 "Add additional error handling in code which creates deployments"
## Proposal / RFE

@christarazi brought up a good point in my PR(#708 ), which makes me think we should add additional error handling when working with the k8s-api.

See the suggestion here : https://github.com/cilium/cilium-cli/pull/708#discussion_r816348864

**Is your feature request related to a problem?**

Could result in flaky results when talking to the k8s api.

[2022-03-01 23:15] gitsmiles commented on #727
Thanks

[2022-03-01 23:15] #727 closed

[2022-03-02 08:00] Junnplus opened #736 "Failed to pull image "quay.io/cilium/hubble-relay-flusher:v0.0.2""
Launch hubble ui via cilium, but failed.

[code]

hubble-relay pod events:
[code]

[2022-03-02 13:46] v1k0d3n commented on #472
Can anyone help point us in a direction here? The issue seems to still exist.

[2022-03-02 16:02] kaworu commented on #724
For context, the cluster name [is used as part for FQDNs names](https://github.com/cilium/cilium-cli/blob/57777b80f355da9db0a9ac7d14db9bacc1d0a491/install/certs.go#L22), see also [this commit](https://github.com/cilium/cilium-cli/commit/e6bc14b1bb0d50211727ee866cb1ff01bd2445ca). So our validation is stricter than what is allowed as kubeconfig context name.

[2022-03-02 17:58] tklauser commented on #731
Related to #243

[2022-03-03 05:10] 2948GEN commented on #490
+1 for this feature 👍

[2022-03-03 10:21] 1909490139 opened #755 "Cluster Mesh unable to derive service IPs automatically"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

1. In Ubuntu 18.04.6 LTS;
2. RUN:
cilium install --context rke1 --config cluster-pool-ipv4-cidr="10.1.0.0/16" --cluster-name rke1 --cluster-id 1
cilium install --context rke2 --config cluster-pool-ipv4-cidr="10.2.0.0/16" --cluster-name rke2 --cluster-id 2 --inherit-ca rke1
cilium clustermesh en

[2022-03-03 19:40] raphink commented on #669
I'm seeing the same issue running Cilium in a k3d cluster, where the agent's `ebpf-mount` init container fails with:

[code]

I managed to log into that init container, and found that indeed, `/usr/bin/mount` is absent. In fact, `/usr` is rather empty:

[code]

This is very surprising, because if I launch the exact same image with Docker, `/usr/bin/mount` works fine (and `/usr` is quite full):

[c

[2022-03-03 21:59] jtaleric opened #742 "[Performance] Add Pod to Service Test"
## RFE : Add performance scenario test for pod to service

Add additional scenario similar to the echo-pod where we run the performance test with a service.

[2022-03-07 17:49] vosdev opened #747 "cilium install --config only takes one key=value"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`) 0.10.4
- Orchestration system version in use (e.g. `kubectl version`, ...) 1.23.4
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions) n/a
- Link to relevant artifacts (policies, deployments scripts, ...) n/a
- Generate and upload a system zip: `cilium sysdump` n/a

I would like

[2022-03-07 18:16] tklauser commented on #747
Thanks for the report @vosdev.

It should work if you specify the `--config` options separated by comma (but without space), i.e.

[code]

Otherwise all but the first option will be recognized as positional arguments by the `github.com/spf13/pflag` library (namely the [StringSliceVar](https://pkg.go.dev/github.com/spf13/pflag#StringSliceVar) function) which cilium-cli uses for command line argumen

[2022-03-08 02:00] ctml91 commented on #472
@v1k0d3n when I deployed cilium via OLM on OpenShift I had to manually add the service accounts from cilium to the privileged SCC. I never got it fully functioning on OpenShift though.

Cilium CLI insists the DS does not exist and other components are not configured but they do and are.
[code]

[2022-03-08 12:50] #747 closed

[2022-03-08 18:53] jtaleric opened #749 "[Performance] Break CRR into its own test"
## Proposal / RFE

Separate CRR into its own test due to conntrack limits.

[code]

Running CRR for multiple samples / extended duration can result in test failures. To avoid the user hitting this problem, we should still allow the user to run CRR, but stand-alone with pre-defined samples and duration.

**Is your feature request related to a problem?**

Yes. Extended runs for CRR will result in te

[2022-03-09 11:42] vosdev commented on #731
I tried to work around this problem by setting the `k8s-api-server` `https://ebpf-test.example.com:6443` in the configmap, thinking it would yield the same result as setting `k8sServiceHost` and `k8sServicePort`.

It helped to get my cilium pods running but everything else still does not function. Network between pods does not work. All connectivity tests from `cilium connectivity test` fail. core

[2022-03-09 12:11] aanm opened #751 "Follow ups for the helm-based installation"
Follow ups of https://github.com/cilium/cilium-cli/pull/717

- [x] Use the helm values stored in the Cilium's config map under the special key `io.cilium.cilium-cli` to generate hubble manifests
  - [ ] The same needs to be done for the upgrade cli option and any other manifests, clustermesh, hubble-ui that can be enabled prior an installation.
- [x] Deprecate cilium-cli flags that are no longer u

[2022-03-10 08:08] tklauser commented on #731
This will be solved by #717 which will switch cilium-cli to use helm charts for installation and allows overriding arbitrary helm options such as k8sServiceHost and k8sServicePort mentioned in this issue.

[2022-03-11 08:52] xiaods opened #754 "For consistency, expect cilium install to be executed multiple times"
## Proposal / RFE

**Is your feature request related to a problem?**

my kubernetes project k8e(getk8e.com) is dependcies for cilium as network cni. with install.sh, we use cilium install to install network. i found the install only run once.

**Describe the solution you'd like**

current behavior:
[code]

just like upgrade.
[code]

[2022-03-11 12:45] tklauser commented on #754
Thanks for the report @xiaods. Looks like the reported issue is a possible duplicate of #589. Are you seeing the behavior on interrupted installations or also when the first `cilium install` run suceeded?

[2022-03-12 09:00] xiaods commented on #754
@tklauser my context is my install script as install kubernetes one-step script.  some time the script is interrupted and need reinstall the step. i don't sure the cilium status is ok, the script will install again, then the cilium will report
[code]
So, I  hope the cilium cli add  double check status step before install next step.

[2022-03-12 09:32] xiaods commented on #754
duplicate of https://github.com/cilium/cilium-cli/issues/589.

[2022-03-12 09:32] #754 closed

[2022-03-12 09:36] xiaods commented on #115
cool, need pr welcome

[2022-03-12 09:41] xiaods commented on #589
my first install is successful, when i install agagin, it report error sucks

[2022-03-12 12:35] jrajahalme opened #757 "CI: ConformanceGKE / client-egress-l7: curl succeeded while it should have failed"
`curl` has apparently returned exit code 0, even when hubble output indicates that the traffic was dropped as expected:

[code]

The applied egress policy only allows DNS from "client", any HTTP is allowed only from the "other client" "client2". From the flow logs it looks like the traffic was properly dropped.

Unfortunately the connectivity test deletes the network policies so the artifacts are

[2022-03-20 08:09] jrajahalme opened #763 "CI: Scenario [no-policies/client-to-client]: Timeout waiting for flow listener to become ready"
## Scenario [no-policies/client-to-client]: Timeout waiting for flow listener to become ready

[code]

[cilium-sysdump-out.zip (1).zip](https://github.com/cilium/cilium-cli/files/8310848/cilium-sysdump-out.zip.1.zip)

https://github.com/cilium/cilium/actions/runs/2011013202

From https://github.com/cilium/cilium/pull/17758

[2022-03-22 22:28] waynr opened #764 "connectivity test"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip: `cilium sysdump`

**How to reproduce the issue**

1. ins

[2022-03-22 22:29] #764 closed

[2022-03-22 22:51] waynr opened #765 "connectivity test: "pod-to-world" case fails with HTTP 403 response from cloudflare"
## Bug report

My team's e2e tests (which include cilium connectivity tests) experience some flaky behavior around the `pod-to-world` test case that look like:

[code]

I suspect the issue here is that the cloud provider (Digitalocean) worker node IPs get flagged as abusive by cloudflare and automatically blocked by their firewall. I can imagine two possible solutions here:

* allow the "world" ta

[2022-03-28 16:20] seanmwinn opened #766 "Collect cni-configuration configmap with sysdump"
## Proposal / RFE

Presently the configmap for cni-configuration is not included in collected sysdumps. Include this file so customers utilizing custom CNI configurations do not need to provide this data manually.

**Is your feature request related to a problem?**

**Describe the solution you'd like**

cilium sysdump includes the contents of the ConfigMap cni-configuration in kube-system namespace

[2022-03-28 18:38] #256 closed

[2022-03-28 21:55] seanmwinn opened #769 "Include CNI configuration file from each node in sysdump"
## Proposal / RFE
Presently, the sysdump tool does not collect /etc/cni/net.d/05-cilium.conf from each node.
This file would be useful to collect in order to validate that custom CNI configuration is working as intented.
**Is your feature request related to a problem?**

**Describe the solution you'd like**
Include /etc/cni/net.d/05-cilium.conf from each node when collecting a sysdump

[2022-03-29 17:32] christarazi opened #770 "Cannot install any Cilium version specified by `--version`"
## Bug report

[code]

**General Information**

- Cilium CLI version (run `cilium version`)

master

**How to reproduce the issue**

1. `cilium install --version 1.10.8`

[2022-03-29 21:40] nreisbeck commented on #736
Bumping this PR, running into this problem on a Digital Ocean cluster, using cilium-cli `v.1.10.4` & Cilium `v1.11.2`

[2022-03-30 05:52] #770 closed

[2022-03-30 12:17] #736 closed

[2022-04-01 16:48] ungureanuvladvictor opened #776 "Using packages from cilium-cli as a vendored lib to install cilium programmatically inside an environment"
## Proposal / RFE
Recently I was experimenting with `kind` inside a golang project to programmatically spin up a k8s cluster. The support for `kind` via `go` is pretty good but taking it to the next was to install `cilium` in the env for which I found that I have 2 options:
- run `helm` and deploy the cilium chart
- run `cilium-cli` and have this install + configure cilium inside my `kind` cluster

[2022-04-01 18:41] michi-covalent commented on #776
@tklauser mentioned there is also https://github.com/cilium/cilium-cli/issues/618 which seems related.

[2022-04-01 18:48] ungureanuvladvictor commented on #776
Yep -- that is exactly what I'm looking for. @michi-covalent feel free to close this and consolidate in the other one if you think that is right.

[2022-04-02 01:03] michi-covalent commented on #776
i'll take a stab at this

[2022-04-05 07:34] #618 closed

[2022-04-05 07:34] #776 closed

[2022-04-12 05:38] Shikhar0411 opened #786 "Cilium Daemonset Installation issue on installing Cilium CLI"
Installing Cilium CLI using the quick installation method is leading to this issue. Cilium doesnt seem properly installed, but I need the cilium CLI to install it, which itself is not getting installed.
<img width="1050" alt="image" src="https://user-images.githubusercontent.com/65883517/162888288-c6eb829e-e966-44aa-a50c-efb7b744b197.png">

[2022-04-14 13:34] #520 closed

[2022-04-14 15:48] tklauser commented on #786
Thanks for the report @Shikhar0411. Which command did you use to install Cilium? What version of the Cilium CLI (`cilium version`) are you using?

[2022-04-15 11:01] Shikhar0411 commented on #786
https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/ I followed the steps here from installing a Cilium CLI. I already had a running GKE cluster

[2022-04-15 13:28] akoserwal opened #797 "Error: Unable to install Cilium: invalid cluster name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

~ cilium install
ℹ️  using Cilium version "v1.11.3"
🔮 Auto-detected cluster name: api-mk-c9cm59nafa3h-dlin-s1-devshift-org:6443
🔮 Auto-detected IPAM mode: cluster-pool
❌ Cluster name "api-mk-c9cm59nafa3h-dlin-s1-devshift-org:6443" is not valid, must match regular expression: ^[a-z0-9]()$

### C

[2022-04-18 09:24] giaptx commented on #751
Hi @aanm,
I see #717 is a good PR to make the setup is consistent.

I think some issues because of different of installation. https://github.com/cilium/cilium-cli/issues/427, https://github.com/cilium/cilium-cli/issues/515

Hope you can have a look around.
Thank you very much

[2022-04-20 00:11] aanm opened #1795 "Add Cilium CLI install for aws conformance tests"
See https://github.com/cilium/cilium/pull/18898#discussion_r852809417 for more info

[2022-04-25 12:56] raphink opened #808 "Helm template command might result in boolean ConfigMap values"
## Bug report

When passing a extra config map values to the command line, if these values can be interpreted as boolean, the `cilium-cli` will output a `helm template` command that will result in an invalid YAML.

E.g.

[code]

outputs:

[code]

where

[code]

will result in the verbatim `true` added as the value for `enable-envoy-config` in the `cilium-config` ConfigMap, which is invalid.

One w

[2022-04-25 13:09] aanm commented on #808
@raphink I think this should be fixed in cilium/cilium instead. I tried `--set extraConfig.enable-envoy-config="true"` and also failed.

[2022-04-25 13:49] raphink commented on #808
Yes @aanm, you need to pass `--set-string extraConfig.enable-envoy-config=true`

[2022-04-25 13:51] raphink commented on #808
It could be fixed in the helm chart in cilium/cilium instead, but that would mean replacing the current `{{ toYaml .Values.extraConfig | nindent 2 }}` with a loop over each parameter to force quoting on each value.

[2022-04-27 07:29] zaks opened #815 "Installation failure for v1.11.3 on DigitalOcean Error: Unable to install Cilium: serviceaccounts "cilium" already exists"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)

 ➜➜➜ cilium version
cilium-cli: v0.11.2 compiled with go1.18.1 on darwin/amd64
cilium image (default): v1.11.3
cilium image (stable): v1.11.4
cilium image (running): v1.10.4

- Orchestration system version in use (e.g. `kubectl version`, ...)

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.6

[2022-04-29 06:36] #519 closed

[2022-04-29 09:16] xtay573269555 opened #821 "## Proposal / Add a option in `cilium install` to strip the sha256 of the docker image for the installation without Internet"
## Proposal / Add a option in  `cilium install`  to strip the sha256 of the docker image for the installation without Internet

**Is your feature request related to a problem?**

Yes. I tried to install cilium in a k8s without Internet, but failed to start the pod due to wrong images. The default images are the following:
[code]

As you know that the sha256 will be lost after i download the images

[2022-05-03 19:18] #766 closed

[2022-05-03 19:18] #769 closed

[2022-05-11 12:50] #716 closed

[2022-05-12 09:35] alexander-demichev commented on #797
I think the solution might require CLI to discover that cilium is being deployed to openshift

[2022-05-12 10:25] rolinh commented on #797
The cluster name is invalid because it ends with `:6443`, which is invalid for a DNS sub-domain (see [RFC1123](https://datatracker.ietf.org/doc/html/rfc1123)). Try removing the port section from your domain name.

[2022-05-12 10:53] alexander-demichev commented on #797
Never mind my previous comment, looks like the cluster name is being discovered from the current context of the kubeconfig.

[code]
Issue might be resolved by checking that the cluster name contains a valid name in both `contexts` and `clusters` section of the kubeconfig.

[2022-05-12 11:21] Aaron-QL opened #844 "Unable to install Cilium: the server could not find the requested resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I got a problem when I install Cilium:

`
[root@host3 ~]# cilium install --cluster-name procluster101 --context kubernetes-admin@procluster101
ℹ️  using Cilium version "v1.11.3"
🔮 Auto-detected IPAM mode: cluster-pool
ℹ️  helm template --namespace kube-system cilium cilium/cilium --version 1.11

[2022-05-12 11:51] sayboras commented on #844
can you share the output of below command ? My hunch is that IngressClass v1 is not available in kube 1.18

[code]

[2022-05-12 16:28] #260 closed

[2022-05-13 02:24] akaQin commented on #844
`[root@host3 ~]# kubectl api-resources | grep ingress
ingresses                         ing          extensions                     true         Ingress
ingressclasses                                 networking.k8s.io              false        IngressClass
ingresses                         ing          networking.k8s.io              true         Ingress`

[2022-05-18 07:35] c19 opened #853 "Cli Doesn't work with cilium install in namespace other than kube-system"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)
cilium-cli: v0.11.7 compiled with go1.18.2 on darwin/amd64
- Orchestration system version in use (e.g. `kubectl version`, ...)
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.5", GitCommit:"e6503f8d8f769ace2f338794c914a96fc335df0f", GitTreeState:"clean", BuildDate:"2020-06-26T03:47:41Z", GoVer

[2022-05-18 07:43] tklauser commented on #435
With the release process simplification in #469, #533 and #811 as well as the GitHub auto-generated release notes (#686), the release process now consists of only two manual steps: creating/pushing the tag, followed by checking/publishing the auto-generated release notes. We intentionally want to keep that final step manual, so closing this issue.

[2022-05-18 07:45] c19 commented on #853
my bad, there's -n  option. Don't know why i missed that.lol.

[2022-05-18 07:45] #853 closed

[2022-05-18 07:45] tklauser commented on #853
Thanks for the report. Which command did you use to install Cilium? Recent versions of the CLE have the `-n`/`--namepsace` flag which needs to be set on every invocation of the `cilium` command to set the namespace.

[2022-05-18 12:25] feifeifeimoon commented on #677
Hi, I would like to take up this issue , could you please assign to me?

[2022-05-18 12:33] tklauser commented on #677
Thank you @feifeifeimoon. I've assigned the issue to you.

[2022-05-20 17:35] vincentmli opened #865 "Add cilium config set KUBERNETES_SERVICE_HOST KUBERNETES_SERVICE_PORT option?"
## Proposal / RFE

**Is your feature request related to a problem?**

`cilium install --version v1.12.0-rc2` install result in cilium agent pod fail to connect to apiserver service 10.96.0.1:443

[code]
helm install method can specify KUBERNETES_SERVICE_HOST KUBERNETES_SERVICE_PORT so when cilium agent startup, the agent will connect to  KUBERNETES_SERVICE_HOST:KUBERNETES_SERVICE_PORT, in my case,

[2022-05-20 17:41] vincentmli commented on #865
ah, already tracked in https://github.com/cilium/cilium-cli/issues/731

[2022-05-20 17:55] vincentmli commented on #731
@tklauser I ran into same issue, wonder if this improvement has been released, I tried v0.10.5, not sure how to use the option :)

[2022-05-20 21:07] vosdev commented on #731
@vincentmli it can be configured through the new --set-helm-string option like such:
[code]

I believe this issue can be closed as https://github.com/cilium/cilium-cli/pull/717 has been merged some time ago.

[2022-05-20 21:23] vincentmli commented on #731
@vosdev the cilium cli says `unknown flag: --helm-set-string`

[code]
cilium cli version
[code]

[2022-05-20 21:31] vincentmli commented on #731
`cilium config  set k8sServicePort "6443"` and `cilium config set k8sServiceHost "10.169.72.9"` works after `cilium install`

[2022-05-20 21:41] tklauser commented on #731
@vincentmli could you try cilium-cli v0.11.7? This should have the `--helm-set-string` flag.

[2022-05-20 21:50] vincentmli commented on #731
cilium-cli v0.11.7 works, I thought 0.10.5 is most recent lease, missed 0.11.7 release

[2022-05-20 21:52] #865 closed

[2022-05-20 22:19] vincentmli commented on #865
full working example :

`cilium install --version=v1.12.0-rc2 --kube-proxy-replacement strict --helm-set-string=k8sServiceHost=10.169.72.9,k8sServicePort=6443,vtep.enabled=true,vtep.endpoint="10.169.72.14 10.169.72.15",vtep.cidr="10.1.14.0/24 10.1.15.0/24",vtep.mac="52:54:00:3e:3f:c1 52:54:00:4e:01:a6"`

[2022-05-20 22:21] tklauser commented on #731
cilium v0.10.5 was released more recently, thus unfortunately https://github.com/cilium/cilium-cli/releases/latest/ currently points to it. However, that version is only a maintainance release to support Cilium v1.10.x for which installation with the helm-based cilium-cli v0.11.x doesn't work. For installation of Cilium ≥v1.11.x the latest cilium-cli v0.11.7 should be used.

[2022-05-20 22:23] tklauser commented on #731
I agree. The original issue was fixed by #717 which is part of the cilium-cli v0.11.x releases. Thus closing this issue.

[2022-05-20 22:23] #731 closed

[2022-05-22 13:32] slayer321 commented on #262
Hey @kaworu, I did like to work on this issue.

I think upgrading to a different minor version is supported now. I installed cilium `v1.9.16` first and after that, I used the command `cilium upgrade`. It upgrades to `v1.10.11`.
So is this issue still relevant? as the `cilium upgrade` command updated me to a minor version.

[2022-05-22 17:59] vincentmli opened #868 "RFE: extend cilium config with multiple settings ?"
## Proposal / RFE

**Is your feature request related to a problem?**

not a problem, but inconvenient, `cilium config set` could only change one setting at a time.

**Describe the solution you'd like**

extend `cilium config` with  `--helm-set-string` like `cilium install` so `cilium config` could change multiple settings at one time, or extend `cilium config` with multiple `set` or `set` with mul

[2022-05-23 08:27] kaworu commented on #262
Hi @slayer321, thanks for reviving this issue. We've recently switched to a Helm based approach for `cilium-cli` (since v0.11.0) so it's possible that upgrading to a different minor version is working now. cc @aanm @tklauser for more context and clarification about whether it is supported or not :pray:

[2022-05-23 11:09] aanm commented on #262
@kaworu @slayer321 it opens for that possibility but it's not implemented in cilium-cli. Feel free to open a PR that adds this functionality.

[2022-05-23 12:31] kaworu commented on #262
So if I understand correctly, we're looking to support upgrading to a different minor version now. If correct, I suggest we close this issue and open a new one to add support for minor version upgrade since this one is about preventing it. Does that make sense?

[2022-05-24 16:47] #677 closed

[2022-05-24 18:32] pchaigno opened #871 "sysdump: Collect bugtool report if agent is crashing"
When the agent on a node is crashing, the sysdump doesn't have the corresponding bugtool report. That makes it a lot harder to debug issues offline.

We should still be able to collect a bugtool report from nodes where the Cilium agent is crashing. As an example, we can collect it with the following command:
[code]
It should be possible to turn this into a host-networked pod to deploy as part of t

[2022-05-25 03:05] feifeifeimoon opened #876 "cli: cilium version command will block for 30s in the environment without network"
## Bug report

`cilium version` command will block for 30s in the environment without network.
[code]

because can't access the website

https://github.com/cilium/cilium-cli/blob/1d835f6e03f9fe296bac1dc2c072a7b55c0c958a/internal/cli/cmd/version.go#L26

the default timeout should be set to 3 seconds or 5 seconds

[2022-05-26 14:07] sayboras commented on #844
seems like your kubectl didn't show the version (e.g. v1, v1beta1), can you double check if it's v1beta1 ? AFAIK, kube 1.18 will not have ingressclass.networking.k8s.io/v1 but ingressclass.networking.k8s.io/v1beta1 instead.

[2022-05-27 02:53] ListenerMoya opened #884 "Failed to install cilium on k8s"
Kernel: 4.15.0-176-generic
k8s : v1.17.1
 I can't install cilium on k8s, it always occurs with an error
Error:
ℹ️  using Cilium version "v1.10.11"
🔮 Auto-detected cluster name: kubernetes
🔮 Auto-detected IPAM mode: cluster-pool
🔑 Found CA in secret cilium-ca
🔑 Generating certificates for Hubble...
🚀 Creating Service accounts...
🚀 Creating Cluster roles...
↩️ Rolling back installation...

Error: Un

[2022-05-28 09:53] pchaigno opened #880 "connectivity: Check each DNS backend separately"
Pull request https://github.com/cilium/cilium-cli/pull/799 moved the DNS check to be the first thing we do as part of the connectivity tests. The rationale is that DNS is often the first thing to fail in subsequent connectivity tests, so best to highlight it at the beginning if it's broken.

However, if only connectivity across nodes is broken, the DNS check might pass because the backend DNS pod

[2022-05-30 10:43] sayboras commented on #844
Fixes as part of https://github.com/cilium/cilium-cli/pull/878.

Kindly note that Ingress Controller in cilium requires kube 1.19+.

[2022-05-30 10:43] #844 closed

[2022-05-30 19:09] LarsBingBong commented on #275
Any news on this? We have to delete the cilium-test namespace after the test ... a little sad when the test is part of some automation actually verifying the key core services of X Kubernetes cluster are running.

Thank you for the great product all in all - Cilium really kicks some tires.

[2022-05-31 14:43] #884 closed, assigned to sayboras

[2022-06-01 17:58] michi-covalent opened #886 "install: remove the hidden --base-version flag"
the `--base-version` flag was added before we moved to helm-based installation. the purpose of the flag was to identify the cilium version when it couldn't be inferred from image tags (e.g. CI images with commit SHA as image tags).

with helm-based installation, we can always rely on the `--version` flag to identify which helm chart version is being used for installation, so the `--base-version` i

[2022-06-06 08:00] odidev commented on #815
I am also getting the same error message, Is there any update on the above issue?

[2022-06-06 09:00] dosmanak opened #901 "Cilium CLI persistent config - client variant"
## Proposal / RFE

**Is your feature request related to a problem?**
I have cilium installed in different namespace than kube-system. I'd like to set some permanent configuration of used namespace so I don't have to specify it in each cilium command

**Describe the solution you'd like**
The namespace and perhaps other configuration could be loaded from e.g. `~/.config/cilium.yaml` or via some envi

[2022-06-06 19:10] christarazi opened #902 "Fetch resources in sysdump using the `app.kubernetes.io/part-of: cilium` label"
See https://github.com/cilium/cilium/issues/20088. This issue relies on https://github.com/cilium/cilium/issues/20088 being implemented on the Cilium side first.

[2022-06-06 23:09] zaks commented on #815
Cilium is installed by default on this cloud.

[2022-06-07 09:31] gandro opened #904 "`cilium hubble port-forward` broken if Cilium was installed via Helm"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`): `cilium-cli: v0.11.7 compiled with go1.18.2 on linux/amd64`

**How to reproduce the issue**

1. Install Cilium via Helm (not Cilium-CLI) with Hubble Relay
2. Try to use `cilium hubble port-forward`. It fails with the following error:
[code]

This used to work before we switched the internals to use Helm, so this i

[2022-06-07 13:35] pchaigno opened #905 "sysdump: Failing to collect pod summary"
[code]

[2022-06-08 07:57] jotak commented on #412
Is there any way to get the hubble metrics in prometheus without installing via helm?

[2022-06-08 09:28] jotak commented on #412
For the record I did the following to get metrics after installing with the CLI:
- edit cilium daemonset to add prometheus scrape/port annotations and declare container ports
- create cilium hubble metrics service like here: https://github.com/cilium/cilium/blob/9a7bd38c82c94a31b71fff7e0c1938634af8c3d4/install/kubernetes/cilium/templates/hubble/metrics-service.yaml
- Then:

[code]

Then I could sw

[2022-06-08 10:33] tklauser opened #906 "Proposal: install: deprecate `datapath-mode` in favor of a new `flavor` flag"
_Originally posted by @gandro in https://github.com/cilium/cilium-cli/pull/898#pullrequestreview-997860297_

While I know that this has already been discussed, seeing it implemented I find the current `datapath-mode` flag a bit confusing. There is e.g. no way to set up direct routing mode (which I would argue is a common datapath mode), and it also doesn't allow the user to override the flavor to

[2022-06-08 19:11] pchaigno opened #907 "cilium sysdump: `--hubble-flows-timeout` flag is ignored"
The `--hubble-flows-timeout` flag is ineffective:
[code]

It seems the flag is defined but never used:
[code]

[2022-06-09 20:59] #907 closed, assigned to michi-covalent

[2022-06-13 11:33] TejjeT commented on #677
This issue is closed , but wondering if the linked PR #854 solved the whole issue. there are additional commands like : `cilium hubble enable` is solved. This seem to still require registry or additional options?

[2022-06-13 21:34] joestringer opened #915 "[v1.11] CI: Multicluster / Cluster mesh: allow-all-except-world: failed to curl between pods on different nodes"
## CI failure

Hit during backport #20183

[code]

[cilium-sysdump-out.zip (15).zip](https://github.com/cilium/cilium-cli/files/8894630/cilium-sysdump-out.zip.15.zip)
https://github.com/cilium/cilium/runs/6867539777?check_suite_focus=true

[2022-06-14 13:48] tklauser opened #918 "CI: unable to forward port because pod is not running in EKS (tunnel) job"
[code]

https://github.com/cilium/cilium-cli/runs/6880678172?check_suite_focus=true

[2022-06-14 13:50] tklauser commented on #918
Also seen on a scheduled run of the same test job: https://github.com/cilium/cilium-cli/runs/6868302411?check_suite_focus=true

Haven't found any occurrences on other test jobs so far.

[2022-06-15 21:37] joestringer opened #927 "Cilium connectivity test fails: unable to retrieve helm values secret kube-system/cilium-cli-helm-values"
Failed during testing of new Helm charts for latest Cilium releases:
https://github.com/cilium/charts/runs/6908352807?check_suite_focus=true

Workflow:
https://github.com/cilium/charts/blob/master/.github/workflows/conformance-gke.yaml

Looks like this uses helm to install Cilium, then cilium connectivity test to validate.

[code]

This previously passed a month ago. Not sure if the latest release

[2022-06-15 21:40] aanm commented on #927
It looks like this is a regressions in 0.11.8? Nicolas mentioned that this was failing in cilium/cilium as well

[2022-06-16 00:32] michi-covalent commented on #927
ah cilium/charts doesn't use `cilium install` huh. that's a trouble.

[2022-06-16 08:38] #927 closed

[2022-06-16 09:37] gandro commented on #904
Fixed by #928

[2022-06-16 12:01] tklauser commented on #918
Now also seen on the AKS (BYOCNI) workflow: https://github.com/cilium/cilium-cli/runs/6913084344?check_suite_focus=true

[2022-06-20 11:59] aanm opened #934 "Retrieve kvstore data in sysdump"
Currently, the sysdump does not contain any state for clusters running with KVStore enabled. Retrieving KVStore information should already be possible with `cilium kvstore get cilium/ --recursive`. Ideally this state should be split into different files depending on the information: identities, node information, etc.

[2022-06-21 08:26] stonith opened #943 "cilium node agents fail in GKE if cluster-name is too long"

[2022-06-22 13:41] tklauser opened #940 "CI: GKE-based: network "default" does not have available private IP space in 10.0.0.0/8 to reserve a /14 block"
GKE-based workflows (GKE, external workloads, multicluster) occasionally fail during cluster creation with the following error:

[code]

Examples:
* Scheduled run on `master`: https://github.com/cilium/cilium-cli/runs/7000764590?check_suite_focus=true
* PR #933: https://github.com/cilium/cilium-cli/runs/6993592366?check_suite_focus=true

I assume this can happen if too many clusters are created si

[2022-06-22 15:22] stonith opened #942 "cilium node agents fail in GKE if cluster-name is too long"
## Bug report

**General Information**

- Cilium CLI version: cilium-cli: 0.11.9 compiled with go1.18.3 on darwin/arm64
- Orchestration system version in use: ```Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.8-rc.0.32+3772b5d6bf8c21-dirty", GitCommit:"3772b5d6bf8c21c509a8a12432bfc820a1535e63", GitTreeState:"dirty", BuildDate:"2021-12-11T01:29:41Z", GoVersion:"go1.17.3", Co

[2022-06-22 15:23] aanm commented on #943
@kkourt @stonith I've transferred the issue across repositories :)

[2022-06-22 15:29] stonith opened #944 "cilium-operator-resource-quota scopeselector is too broad"
## Bug report

**General Information**

Cilium CLI version: cilium-cli: 0.11.9 compiled with go1.18.3 on darwin/arm64
Orchestration system version in use: Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.8-rc.0.32+3772b5d6bf8c21-dirty", GitCommit:"3772b5d6bf8c21c509a8a12432bfc820a1535e63", GitTreeState:"dirty", BuildDate:"2021-12-11T01:29:41Z", GoVersion:"go1.17.3", Compiler:

[2022-06-22 16:24] kkourt commented on #943
Thanks @aanm. I'll close this, however, since @stonith already created https://github.com/cilium/cilium-cli/issues/942

[2022-06-23 16:06] jlaffaye opened #946 "Enabling `enable-local-redirect-policy` indefinitely waits on CRD registration"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`): `cilium-cli: 0.11.10 compiled with go1.18.3 on darwin/arm64`
- Orchestration system version in use (e.g. `kubectl version`, ...): `v1.22.7`
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions): `GKE`
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate a

[2022-06-23 21:52] michi-covalent opened #947 "install command doesn't create metric services"
i installed cilium with this values file:
[code]

`cilium install --version v1.12.0-rc3 --helm-values ./values.yaml` doesn't create `cilium-agent` / `hubble-metrics` services.

[2022-06-24 06:56] #880 closed

[2022-06-26 13:16] Akshit42-hue commented on #947
Can I give it a try @aanm

[2022-06-27 06:52] aanm commented on #947
@Akshit42-hue sure

[2022-06-27 08:04] Akshit42-hue opened #949 "Broken Link"
## Bug report
In the CONTRIBUTING.md file in slack section [Cilium & eBPF Slack](https://docs.cilium.io/en/latest/community/#slack) the link is invalid

Here is the screenshot 👇
![Screenshot from 2022-06-27 13-34-01](https://user-images.githubusercontent.com/59443454/175890750-1e5942d5-357d-48be-81fd-6c9d5b1e2a99.png)

[2022-06-27 12:49] #949 closed

[2022-06-28 15:38] tklauser commented on #886
Fixed by #890 and #891.

[2022-06-28 15:38] #886 closed, assigned to michi-covalent

[2022-07-06 06:49] raphink opened #956 "JSON output for status"
## Proposal / RFE

It would be useful if the output of the status commands could be easily parsed.

For example, I'm using `cilium clustermesh status` to check if clusters are meshed with one another, something like:

[code]

but it'd be more precise to get a `-o json` or `-o jsonpath` and filter on a specific field of the output.

[2022-07-07 05:47] carloruiz opened #959 "Cannot enable Hubble if Cilium is originally deployed with Hubble disabled"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)
[code]

- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Platform: GKE 1.20.15

**How to reproduce the issue**

1. Deploy Cilium on GKE following the steps [here](https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-helm/). Add the additional flags ` --set operator.replicas=1 --set

[2022-07-08 10:39] yeahservice commented on #904
I still have this issue with the newest version (also tried `v0.11.9`)
[code]

[code]

[2022-07-09 09:58] patrickpichler commented on #904
I took the liberty to investigate the issue and submit a PR which fixes it.

[2022-07-13 09:15] squeed commented on #871
Taking a look at this.

Ideally it would use ephemeral containers on the Cilium pod, but those are still beta in v1.23. But we can detect if they're enabled by probing for the subresource.

[2022-07-16 04:19] sayboras commented on #959
the error looks similar, we have a few fixes below, but it's might not fix for hubble enable CLI. Can you give it a crack with latest master branch and confirm if the issue is resolved ? Thanks.

https://github.com/cilium/cilium-cli/issues/904

[2022-07-17 18:28] aluopy opened #979 "connectivity test failed"
I installed Kubernetes via kubeadmn, Newly installed. then installed Cilium with `cilium install`.

connectivity test failed with an error like this: **connectivity test failed: timeout reached waiting for NodePort 192.168.20.18:32424 (cilium-test/echo-other-node)**

Test many times, always failed, and they are all such errors.
## Related Information
### Kubernetes Version
[code]

### Kernel Versi

[2022-07-21 01:13] #979 closed

[2022-07-21 11:18] #143 closed

[2022-07-25 15:36] joestringer opened #989 "Sysdump: Cilium label selector vs. Cilium Daemonset label selector is confusing"
While attempting to gather a sysdump in a cluster with custom Cilium labels, a user ran the following:

[code]

The expectation was that this would gather the Cilium daemonset at least, however the error line reports that the label `k8s-app=cilium` could not be found. Note that this is different from the CLI param `--cilium-label-selector k8s-app=cilium-agent`.

Does there need to be a different l

[2022-07-25 15:45] joestringer opened #990 "Sysdump bugtool gathering can fail and not print the underlying error (exit code 137)"
Observed in a user environment:

[code]

Note that the bugtool failed with exit code 137, but then no error is printed so it is difficult to understand what happened.

[2022-07-25 15:47] joestringer commented on #990
From some brief searching online, it appears that `exit code 137` may indicate that the pod ran out of memory (hit memory limits) while performing the sysdump.

[2022-07-28 15:24] #689 closed

[2022-08-02 03:12] olga-mir commented on #959
Hi @sayboras I am not the issue author, but I had the same error when installing cilium with helm. Latest main doesn't seem to solve it:
[code]

[2022-08-03 14:56] brb opened #1004 "Enable kube-proxy replacement if no kube-proxy is detected in a cluster"
When installing with `cilium install`, the cilium-cli could detect whether K8s' kube-proxy is present in a cluster. If not, then it could install Cilium with `--set kubeProxyReplacement=strict`.

[2022-08-03 16:57] pchaigno opened #1006 "`--version=latest` rejected as invalid"
[code]
This used to work but seems broken at least on the latest, unreleased version.

[2022-08-03 17:21] ksankeerth commented on #1004
Hi @brb,
I'm new to cilium, Can I work on this feature?

[2022-08-03 18:01] brb commented on #1004
@ksankeerth Sure, thanks!

[2022-08-03 20:14] tommyp1ckles commented on #934
Completed with #972, closing the issue.

[2022-08-03 20:14] #934 closed

[2022-08-04 11:35] tklauser commented on #1006
FWIW, adding a valid `--chart-directory` to the command should work. But obviously we should make that clearer in the error message.

[2022-08-04 13:56] sayboras commented on #959
Confirmed that it's still happening, just curious if any of you both is planning to contribute. Thanks.

[code]

[2022-08-04 14:11] pchaigno commented on #1006
I can confirm that works.

[2022-08-05 00:55] olga-mir commented on #959
@sayboras I would love to! I already tried this earlier and have `disable` working, but `enable` is not yet complete. I'll have more free time this weekend and I can put the PR up. At the moment I am using a hardcoded cilium version, which I am not sure yet where to find it, it's not in the configmap, but it shouldn't be too hard.

This is my current state:
[code]

[2022-08-05 05:25] sayboras commented on #959
Thanks for your help on this, feel free to reach out in Cilium OSS #development channel if you have any questions.

[2022-08-09 01:25] joestringer opened #1026 "Fetch tail previous logs when Cilium is in CrashLoopBackoff"
During Cilium install with my own PR, I hit:

[code]

Given `unable to retrieve cilium status: unable to upgrade connection: container not found ("cilium-agent")`, it may be worthwhile to attempt to gather the `--previous` logs via kubectl and print the tail. This way there should be a much more specific error condition to look deeper into.

[2022-08-11 14:20] larkly opened #1032 "stable.txt not bumped to newest release"
## Bug report

**General Information**

#1009 does not bump version on https://raw.githubusercontent.com/cilium/cilium-cli/master/stable.txt as referenced in README.md.

[2022-08-12 06:28] #1032 closed

[2022-08-12 13:05] tklauser opened #1034 "Release binaries don't work on macOS"
Reported by Ákos Veres on Cilium Slack: https://cilium.slack.com/archives/C1MATJ5U5/p1660126747756219

The darwin/arm64 and darwin/amd64 binaries provided as part of the GitHub releases don't run on macOS because they are not codesigned:

<img width="244" alt="image" src="https://user-images.githubusercontent.com/539708/184359046-d08a50db-66f4-4305-9514-c39925d90f0e.png">

Installing cilium-cli fr

[2022-08-13 13:00] ksankeerth commented on #1004
Hi @brb,

Small help on this issue. To detect kube-proxy has been installed or not, I'm thinking to use [ListDaemonSet](https://github.com/cilium/cilium-cli/blob/master/k8s/client.go#L425) function and doing a string match(kube-proxy/regex check).  Is there any better idea? Appreciate your feedback on this.

Thanks

[2022-08-15 09:27] brb commented on #1004
@ksankeerth I think listing DaemonSets in the `kube-system` ns, and then matching for `kube-proxy` should work on > 80% clusters. So yeah, I suggest to take this approach.

Another problem which needs to be solved as part of this change is to detect the kube-apiserver IP and port (https://docs.cilium.io/en/v1.12/gettingstarted/kubeproxy-free/#quick-start). Not sure what's the most reliable strateg

[2022-08-16 03:28] ksankeerth commented on #1004
Thanks @brb.

For the second problem, I used already available clients(similar client we used for sysdump), so I don't need to worry about the IP and port of the Master node.  I'm doing some tests and will send a PR soon.

[2022-08-17 04:18] misstick86 commented on #959
@olga-mir, I have problem too, But I think if you use `helm` deploy into kubernetes, you shouldn't use `cilium` deploy hubble or should use `helm`.   Because of `cilium` will store helm values in to secrets, this name is **cilium-cli-helm-values**. if you use `helm` but not create this secrets.  may be this is bug. But I think the best way  this is command:
[code]
hope to help you

[2022-08-18 05:28] Duanzhiwei opened #1036 "Can provide custom image repository and tag functions"
## Proposal / RFE

**Is your feature request related to a problem?**

**when i use this command ' cilium clustermesh enable --apiserver-image registory.spdb.cn/cilium/cilium/clustermesh-apiserver:v1.12.0 --service-type NodePort ' to set the clustermesh image ,but can not set the etcd image. Private repositories can be set up using the cilium command. Like 'cilium registory ' or 'cilium install --r

[2022-08-18 14:18] dreamerlzl commented on #66
I met the same issue, and what's worse is that no pods are created
`kubectl get events -n cilium-test` shows no output
`kubectl -n cilium-test get pods` shows no output

[2022-08-18 14:23] dreamerlzl commented on #959
I follow the official guide to install cilium on kind and met a similar problem `secrets "cilium-cli-helm-values" not found`. Your suggestion works!

[2022-08-19 04:37] ksankeerth commented on #1004
Hi @brb,
I was able to test and created a PR.[1039](https://github.com/cilium/cilium-cli/pull/1039). Please check if possible. Thanks

[code]

[2022-08-20 06:41] olga-mir commented on #959
@misstick86, I agree with you, with some remarks.

It's up to the implementation. The draft PR that I have opened does not store the values back to the secret (which did not exist in this scenario) so it doesn't introduce any new default values that may have been set to something different at installation time. It did create inconsistency with `cilium-config` configmap as pointed out by the review

[2022-08-20 15:21] rudesome opened #1041 "cilium-cli unable to resolve private k8s api endpoint"
## Bug report

cilium-cli is not using my VPN solution to connect to the k8s api server.
It tries to solve the (private) k8s api address through my local DNS server.

**General Information**

- Cilium CLI version | `cilium-cli: v0.12.1 compiled with go1.18.5 on linux/amd64`
- Platform | Azure - AKS Private Cluster

Error message from cilium-cli when try to install cilium:
[code]

where the IP: `19

[2022-08-22 07:56] squeed commented on #1026
Taking a look at this.

[2022-08-22 08:32] squeed commented on #1026
I also filed https://github.com/cilium/cilium/pull/21012 to set the TerminationMessagePolicy: FallbackToLogsOnError for most pods in the manifests; this will mean we capture the "dying gasp" in the Status object. It persists across node reboots.

[2022-08-22 08:43] squeed commented on #1026
Aha; this isn't running `kubectl logs`, but rather `kubectl exec ... -- cilium status`. It's not going to work if Cilium isn't running; I'll make the result better regardless.

[2022-08-22 11:01] aanm opened #1046 "Add traffic drop sub reasons and do validation for those"
Right now, when doing flow validation, the result only checks if the traffic is dropped: https://github.com/cilium/cilium-cli/blob/173587006fb0760e259ca4296db62dd6ed6f1406/connectivity/check/policy.go#L197-L198. It is not checking why and where exactly the traffic was dropped.

However, traffic can be dropped for multiple reasons such as routing problems, iptables, etc. Thus, we should have sub re

[2022-08-22 11:01] aanm commented on #1046
@pchaigno do you have other examples?

[2022-08-22 13:05] pchaigno commented on #1046
Apart from checking the drop reason and direction, it could be good to check the remote security identity. For that last one, it's probably enough to check that it is neither unknown nor a reserved identity unless expected. Checking the exact pod identity is probably overengineering/overtesting.

Checking the identity may help us catch cases where we dropped the packets because the identity resolu

[2022-08-23 08:01] carnerito opened #1053 "Inconsistency in clustermesh setup between Helm and Cilium CLI installations"
## Bug report

Cilium `clustermesh status` command not working when clustermesh is installed using Helm. I found 2 issues that are causing this issue.

#### 1. Client secret name
Cilium CLI and Helm are naming clustermesh secrets differently. This causes Cilium CLI `clustermesh status` command to fail if Cilium clustermesh is installed using Helm. The difference is in trailing 's' in secret names

[2022-08-31 13:36] #1053 closed

[2022-08-31 21:03] joestringer opened #1070 "cilium install --wait=false doesn't work"
I have created a local kind environment, and I run:

[code]

However, the cilium binary sits there and waits for the cluster to be ready.

[code]

[2022-08-31 21:09] joestringer commented on #205
I'd like to reopen this feature request as it would simplify declarative approaches to defining the way that I want Cilium to be created in an environment. From the PR discussion, it looks like there is some desire still to do idempotency, it just needs to take into account that upgrading an existing environment should not replace secrets etc.

[2022-09-02 07:55] tklauser commented on #427
Fixed by #1056

[2022-09-02 07:55] #427 closed

[2022-09-02 08:45] rchojn opened #1080 "Could not resolve the hostname of the ingress, falling back to the static IP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

During configuration of cluster-mesh following errors with ingress appeared:

[code]

### Cilium Version

[code]

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

### Code of Conduc

[2022-09-05 10:38] ernado opened #1079 "bug: cilium sysdump predates global `--namespace` flag"
That is, currently you should do:
[code]
But this probably should also work (but it fails, defaulting to `kube-system`):
[code]

[2022-09-05 13:59] tklauser commented on #1070
This is probably because on `--restart-unmanaged-pods` defaults to `true` and then this condition kicks in:v

https://github.com/cilium/cilium-cli/blob/f5b079c42bc417541f8bb7c88ddc95b171728ee0/install/install.go#L860-L881

A while back, #640 was opened with a suggestion on how to improve UX wrt. `--wait`/`--restart-unmanaged-pods`.

[2022-09-05 14:05] #947 closed

[2022-09-05 14:42] sayboras commented on #1080
The loadbalancer name (e.g. internal-a98d614cfbaae4b68a9ff14be5dee82e-107606502.eu-central-1.elb.amazonaws.com) seems to be internal, and might be only resolved within private subnets only.

Just want to confirm if you are running cilium CLI in the same VPC.

[2022-09-05 16:51] joestringer commented on #1070
:+1: thanks for the details. I'll close this as "duplicate". We can follow up on #640.

[2022-09-05 16:51] #1070 closed

[2022-09-06 08:41] #1026 closed

[2022-09-07 13:45] pchaigno opened #1083 "Reduce sysdump warnings"
Almost every time someone takes a sysdump on a Cilium-managed cluster, they end up with a bunch of warnings:
[code]
Most of the time all of the warnings are fine to ignore. We even add one more warning at the end to say that all warnings may be expected :rofl:

Instead, we could (should?) check the configuration to determine if there's really a need for a warning. For example, the warning below is

[2022-09-08 09:44] gardnerdev commented on #1080
Yes, it's the same VPC. By default amazon is launching the cluster in private and public vpc (3 availability zones). In `privateNetworking: true` setup the error is the same

[2022-09-12 21:52] F1ko commented on #1083
@pchaigno is there something already WIP?

otherwise I would like to work on the issue

[2022-09-13 07:17] liusy58 commented on #755
So how to fix this? I face the same error now.

[2022-09-13 08:22] pchaigno commented on #1083
@F1ko Nothing in progress that I know of. Feel free to send a PR.

[2022-09-13 11:10] squeed commented on #374
So, `kubectl wait`, under the hood, is setting up an informer and watching the resource in question -- it doesn't do anything too magical. Anyplace we're busy-looping, we could theoretically replace that with a watch off the shared informer factory.

I'll take a look.

[2022-09-15 09:59] zakkg3 opened #1089 "BGP status."
I would like to exec into the pod / or cilium-cli command to get status about the BGP sessions: like pod-toolbox:
https://www.kube-router.io/docs/pod-toolbox/

[2022-09-17 12:59] lizrice opened #1092 "[Idea] cilium CLI command for enabling L7 visibility"
It would be great to have a Cilium CLI command that turns L7 visibility on/off. I’m imagining something like

- `cilium l7 enable deployment/my-app http` which would add the appropriate annotations so that HTTP visibility is turned on for that deployment (similarly for other protocol types that Cilium supports)
-  corresponding `cilium l7 disable deployment/my-app` to remove all the L7 annotations

[2022-09-19 06:43] jr200 opened #1093 "cilium hubble commands not working when ipv6 is disabled on host"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)

[code]

- Orchestration system version in use (e.g. `kubectl version`, ...)

[code]

- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)

[code]

**How to reproduce the issue**

1. Disable ipv6 on host.
2. Run `cilium hubble port-forward` or `cilium hubble ui`

[code]

[code]

[2022-09-19 10:18] #959 closed

[2022-09-21 10:08] #1046 closed

[2022-09-21 10:12] sayboras opened #1100 "Check security identity as part of connectivity test"
Apart from checking the drop reason and direction, it could be good to check the remote security identity. For that last one, it's probably enough to check that it is neither unknown nor a reserved identity unless expected. Checking the exact pod identity is probably overengineering/overtesting.

Checking the identity may help us catch cases where we dropped the packets because the identity resolu

[2022-09-21 10:13] sayboras commented on #1046
I missed this point in related PR, raised https://github.com/cilium/cilium-cli/issues/1100 for tracking purpose.

[2022-09-22 12:52] brb commented on #1004
@ksankeerth Hey, one user has reported that on a k3s installation there is no kube-proxy pod. Perhaps we should detect when cilium-cli is running against a k3s cluster, and then opt out from the KPR auto detection. Mind looking into it?

[2022-09-22 16:20] F1ko commented on #1092
Would like to work on it.
Gonna submit a PR in the next couple of days when I get to it.

Is there a bot to assign the issue?

/assign

[2022-09-22 19:18] rolinh commented on #1092
Thanks @F1ko, there's no bot for that but I assigned you to the issue.

[2022-09-23 07:29] ksankeerth commented on #1004
Thanks for letting me know. I'll look into this and get back to you.

[2022-09-23 13:48] brb commented on #1004
@ksankeerth One more thing which needs to be fixed is opting out from the KPR auto-detection if user sets the KPR flag (via `--helm-set` or `--kube-proxy-replacement`).

[2022-09-25 00:36] xiaods opened #1106 "cilium install and helmMapOpts["image.useDigest"] = "false" is not working"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)  cilium v1.21.2
- Orchestration system version in use (e.g. `kubectl version`, ...)  v1.25.2
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)  local ubuntu server 22.04 airgap
- Link to relevant artifacts (policies, deployments scripts, ...) n/a
- Generate and upload a syste

[2022-09-26 09:41] lambdanis opened #1107 "`cilium install` fails if serviceMonitors are enabled"
## Bug report

CLI fails to install Cilium if any of the serviceMonitors is enabled, even if correct CRDs are present in the cluster:

[code]

The `helm template` command fails to pass [Cilium chart validation](https://github.com/cilium/cilium/blob/v1.12.2/install/kubernetes/cilium/templates/validate.yaml#L21) checking `.Capabilities.APIVersions`:
[code]
As it doesn't interact with k8s API, it's n

[2022-09-26 20:14] pchaigno opened #1109 "Connectivity tests fail when run in non `cilium-test` namespace"
The connectivity tests consistently fail when run in a namespace other than `cilium-test`:
[code]
I've rerun with `-p` to pause on the first failure and collected a sysdump:
[cilium-sysdump-20220926-205342.zip](https://github.com/cilium/cilium-cli/files/9649336/cilium-sysdump-20220926-205342.zip)

This is with Cilium CLI d9371d3dc6dbe9f8d8437bd34ee848d7358ff4e0.

### Investigation

`cilium monitor

[2022-09-26 23:12] learnitall opened #1111 "Split Performance Tests into their Own Sub-Command"
## Proposal / RFE

**Is your feature request related to a problem?**

When running performance tests through `cilium connectivity test --perf`, all of the deployments required for the non-perf connectivity checks are created and validated, giving some extra bloat and execution time:

[code]

**Describe the solution you'd like**

Splitting the performance tests into their own sub-command will help

[2022-09-27 02:31] sayboras commented on #1109
thanks for highlighting this, I don't think it's intended 💯

[2022-09-27 17:38] pchaigno commented on #1109
@sayboras I think you missed some policies as it's still failing with the same policy drops. And I still have the same policy loaded with cilium-test hardcoded. I checked out latest:
[code]
and I ran make already.

[2022-09-27 17:39] pchaigno commented on #1109
Those maybe?
[code]

[2022-09-28 11:38] tklauser commented on #1109
Maybe we should convert one of the CI tests to use a test namespace name other than `cilium-test`, so we'll be more likely to catch regressions like this in the future?

[2022-09-28 11:40] sayboras commented on #1109
sorry all, I thought I removed the label in match selector before

https://github.com/cilium/cilium-cli/pull/1113

[2022-09-28 12:45] sayboras commented on #1109
Actually, we need those dummy labels, so that the value can be updated [dynamically](https://github.com/cilium/cilium-cli/blob/master/connectivity/check/test.go#L240).

So it could be something else, let me take a deeper look

[2022-09-28 14:02] sayboras commented on #1109
@pchaigno this should fix our issue I reckon https://github.com/cilium/cilium-cli/pull/1113

[2022-09-29 03:26] ksankeerth commented on #1004
@brb Hope you're doing well.
I looked at these improvements.  We can use annotations of the K3s server/node to detect k3s and opt-out from the KPR auto replacement.  But regarding the 2nd requirement, I think we need to change the default value.

Currently, if we just run  `cilium install`, `k.params.KubeProxyReplacement` will hold "disabled" as the default value.  So We won't be able to find whet

[2022-09-30 08:59] tklauser commented on #676
Thanks for the report. It looks like this was fixed as part of #970, see fb9ed16da97cb31d5a94d89eb7f0e35915f79878.

[2022-09-30 16:10] jotak commented on #472
It's probably because cilium isn't installed in the default namespace. It's necessary to provide that namespace to the CLI:

E.g.
[code]

[2022-10-03 12:47] sayboras commented on #1109
This should be fixed as part of recent PR.

[2022-10-03 12:47] #1109 closed

[2022-10-03 13:49] brb commented on #1004
@ksankeerth :wave:

:+1:

The problem here is that we need to detect whether the flag was explicitly set by a user or whether the default is used. To solve this, we could use https://pkg.go.dev/flag#Visit to figure out whether it was set. If it was not, then run the detection.

[2022-10-05 20:35] jaredledvina opened #1125 "[connectivity tests] ciliumPods isn't set, failing to wait for revision increment"
## Bug report

With the latest version of the cli and when using the connectivity tests feature, there appears to not be any `ciliumPods` configured when we get to https://github.com/cilium/cilium-cli/blob/3235080feaa36fe30dd65f42c4261239efca1890/connectivity/check/policy.go#L58 such that this returns an empty map all the way back to https://github.com/cilium/cilium-cli/blob/3235080feaa36fe30dd65f

[2022-10-05 20:40] jaredledvina commented on #1125
Of course I see the issue _after_ opening this. We need to have `k8s-app=cilium` setup such that it's detected here: https://github.com/cilium/cilium-cli/blob/3235080feaa36fe30dd65f42c4261239efca1890/connectivity/check/context.go#L474

[2022-10-05 21:53] jaredledvina opened #1129 "[connectivity tests] Limit cilium-agent pod selector to only nodes running test pods"
## Proposal / RFE

Currently, the logic in https://github.com/cilium/cilium-cli/blob/3235080feaa36fe30dd65f42c4261239efca1890/connectivity/check/context.go#L474 results in the cli selecting _all_ of the cilium-agent pods which in large clusters really slows down the connectivity tests in the feature detection and log collection steps. I'd like to propose that the logic is updated to only select th

[2022-10-06 08:51] iplakas commented on #755
I face the same issue.

[2022-10-06 23:32] michi-covalent commented on #255
this might be causing some issues in cilium CI. for example:

https://github.com/cilium/cilium/actions/runs/3189785349/jobs/5204016540#step:25:36

`cilium uninstall` gets stuck at `Waiting for cilium-test namespace to be terminated...`. looking at sysdump, `cilium-test` namespace is stuck in terminating state with this status:

[code]
i'm not 100% sure if cilium restart is causing this, but either

[2022-10-10 17:21] krenaut1 opened #1136 "AKS install failed"
## Bug report

**General Information**

- Cilium CLI version v0.12.4
- Orchestration system version in use kubectl version 1.22.4
- Azure CLI {
  "azure-cli": "2.40.0",
  "azure-cli-core": "2.40.0",
  "azure-cli-telemetry": "1.0.8",
  "extensions": {
    "aks-preview": "0.5.104"
  }
}
- Platform / infrastructure information Azure AKS
- Link to relevant artifacts
- Generate and upload a system zip:

[2022-10-11 16:56] #255 closed

[2022-10-11 17:04] pchaigno opened #1139 "Cover IPv6 in connectivity tests"
AFAICS, in a dual-stack cluster today, the connectivity tests will only cover IPv4. We should find a way to have them cover our IPv6 code paths.

[2022-10-16 03:37] xiaods opened #1155 "cilium operator CRDs not in sync with k8s?"
## Bug report

**General Information**

- Cilium CLI version (run `cilium version`)
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip: `cilium sysdump`

[code]

AWS with ubuntu server 22.04

[2022-10-16 06:15] xiaods commented on #1004
@ksankeerth any progress on k3s server to detect k3s opt-out kube-proxy setting.

[2022-10-18 03:18] ksankeerth commented on #1004
sorry for the delay. Just submitted a PR for this.

[2022-10-21 08:53] jinsiang2008 commented on #342
+1 on this, we hit these issues a lot when we run the connectivity tests, maybe we could standardize the tests, and refine the outputs/indicators to show what's the problem, or potential fixes. Thanks.

[2022-10-28 15:32] Archisman-Mridha opened #1184 "Allow cilium cli installation via chocolatey for windows"
## Proposal / RFE

**Is your feature request related to a problem?**

**Describe the solution you'd like**

[2022-10-29 23:56] #1107 closed

[2022-10-31 08:54] Zveroloff opened #1197 "CFP: Detailed connectivity test result"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**

No, feature request is not related to a problem

**Describe t

[2022-11-02 23:50] etungsten opened #1189 "Specifying cilium version to install with `cilium install --version` fails"
## Bug report

**General Information**
Specifying the cilium version when installing with cilium CLI fails:
Without 'v':
[code]
With 'v':
[code]

Usage info for `--version` says
[code]
So I expected v1.12.2 to work.

- Cilium CLI version (run `cilium version`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Platform / infrastructure information (e.g. AWS / Azure

[2022-11-02 23:53] aanm commented on #1189
Hi @etungsten, thanks for the bug report but we haven't released Cilium `1.21.2` so that error is expected.

[2022-11-02 23:59] etungsten commented on #1189
Ah, I see. It worked with `1.21.3`. I only tried `1.21.1` and `1.21.2`. I think the usage info is still misleading though. Thanks!

[2022-11-02 23:59] #1189 closed

[2022-11-03 00:03] aanm commented on #1189
@etungsten it does work for me. Except anything above 1.12.4 since we haven't released anything above that version.
[code]

[2022-11-04 11:09] pchaigno opened #1192 "sysdump: Collect logs from cilium-node-init pods"
We have logs for the Cilium agents but seem to be missing the logs for cilium-node-init pods.

[2022-11-06 02:45] nickolaev opened #1193 "Bump the `network-perf` image version to enable arm64"
## Proposal / RFE

**Is your feature request related to a problem?**
`cilium connectivity test --perf` is failing on `arm64`, due to a missing `network-perf` image for the platform.

**Describe the solution you'd like**

Once https://github.com/cilium/image-tools/pull/196 is merged, bump the version of the image in https://github.com/cilium/cilium-cli/blob/3dcaf09065faedffed3c9a2965961d85d8cb0037/

[2022-11-07 13:44] #1193 closed

[2022-11-07 19:35] MartinDeLaTorre opened #1196 "Cilium cannot install on Amazon EKS because cluster name is not valid"
## Bug report

**General Information**

- Cilium CLI version:
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Platform / infrastructure information (e.g. AWS / Azure / GCP, image / kernel versions)
I am using [AWS EKS](https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html)
- Link to relevant artifacts (policies, deployments scripts, ...)
EKS supp

[2022-11-07 19:58] MartinDeLaTorre commented on #1196
I think I found the culprit:
https://github.com/cilium/cilium-cli/blob/094b30b4fa383d4158278f62d321c43f139ca403/install/autodetect.go#L35

It took me a bit because I was searching in [https://github.com/cilium/cilium](https://github.com/cilium/cilium) not realizing that [https://github.com/cilium/cilium-cli](https://github.com/cilium/cilium-cli) is a different repository.

[2022-11-09 17:00] gandro opened #1202 "connectivity test can fail with `Timeout waiting for flow listener to become ready` even if flow validation is disabled"
As observed in Cilium CI, even when running with `--flow-validiation=disabled`, the connectivity test will still try to connect to Hubble by default. If the connection to Hubble is interrupted during the test, the test will then fail, even though flow validation was disabled.

https://github.com/cilium/cilium-cli/blob/208b86c60cd82d80bb63fdc8434927c7f0ea8da9/connectivity/check/action.go#L145

The